[2015-06-22 15:55] nreckart commented on #159
So I built it with two modes. Simple and advanced. Simple basically takes a search phrase and joins all words with AND. Advanced mode assumes that the search phrase already includes the appropriate operators (&, |, !). You toggle the mode via an attribute for the Radius tag within the template. You can also specify a list of region keys to limit the search to, or search everything.

Below is a sim

[2015-06-22 17:58] dustinmazon opened #167 "HTML caching in Public directory"
## Steps to reproduce the issue
1. Add an HTML file to the public directory. `wvumag.wvu.edu/public/emails/example-email.html`(I am wanting to use the public directory to store my HTML emails.)
2. Git Add, Commit, and Push
3. Sync wvu-magazine theme in Cleanslate
4. Make edit to HTML file.
5. Git Add, Commit, and Push
6. Sync wvu-magazine theme in Cleanslate
## Results

After an HTML file has been

[2015-06-22 18:00] #166 closed, assigned to nobody

[2015-06-22 18:02] zeroedin commented on #167
Again I know this is beating a dead horse, but the real solution for this is the ability for you to deploy on static.  So you do not have to rely on the CMS to store this content.   /cc @jja006

[2015-06-22 18:04] adamjohnson commented on #167
@dustinmazon When you hit the email in your browser, can you add a timestamp to the URL to bust the cache? EG:

http://wvumag.wvu.edu/public/12345/emails/wvumag-2015August19.html
- @osteffich

@zeroedin other designers need this too.

[2015-06-22 18:04] nreckart commented on #167
The caching is working as intended. See #37 for details.

[2015-06-22 18:53] dmolsen commented on #159
@dustinmazon -

Just looping you into this convo so you get the code for using @nreckart's search feature.

Based on Nathan's example in the previous comment you'd want to:
1. Create a form that had a method of `GET` and an action of `/academics/majors/`.
2. The input type text would have the name `cquery`
3. `/academics/majors/` would have a unique template that allowed it to double as base page

[2015-06-22 20:51] nreckart commented on #159
If cquery is not specified in the URL, all pages would be included in the loop by default.

[2015-06-23 14:54] dmolsen commented on #167
I'm with @nreckart that this should be the way we expect Clean Slate themes cache settings to work. If we need to set-up different repos elsewhere for HTML emails that's fine. We just need to lay out what the process is for development, review and production of the emails so we can build the right set-up. Outside of the two days after July 4th I'm around so if designer(s) want to sit down and hash

[2015-06-23 14:54] #167 closed, assigned to nreckart

[2015-06-23 15:29] dmolsen commented on #167
for historical purposes @jja006 said...

Dave, we can probably use existing static host that is in place. the issue is opening that up for deployment - we could add Dustin or Adam probably (request to ITS to either add them to user-deploy group, or establish a separate group/access) but I don't think we want to do that for ALL of the prof-techs? (meaning, not doing it for prof. tech's outside our

[2015-06-23 15:31] dmolsen commented on #167
To which i would respond... I think the solution is in web hooks but cache should also be fleshed out.

[2015-06-23 15:41] dmolsen commented on #164
My responses:
1. While downloading the JS doesn't block the parser when using `async` running the JS after its downloaded does. Just want to clarify that `async` isn't free.
2. I would suggest that a default meta tag with a default custom data entry could do something similar. It would mean mucking with your themes though.
3. I can't argue terribly much with this but considering the lack of decisi

[2015-06-23 15:45] dmolsen commented on #163
Do prof techs normally include JS in places outside of the just above `</body>` regularly? I'm intrigued by this but it doesn't nothing if that's the normal way people approach JS.

[2015-06-23 15:46] dmolsen commented on #162
I ran into this a few times with the Admissions site. It'd be nice to get it cleaned up if possible. Added a delivery date on it.

[2015-06-23 15:46] adamjohnson commented on #164
:+1: to option 2.

[code]

Setting that meta tag by having a custom data attribute for the `WMsGCAOl1I_xxxxxxxx` bit from Page Properties is a great idea. Thoughts @dustinmazon?

[2015-06-23 15:48] adamjohnson commented on #164
Here's how to implement custom data:

http://cleanslatecms.wvu.edu/how-to/theme-development/custom-data

[2015-06-23 15:52] adamjohnson commented on #163
Most prof techs blindly follow whatever the docs tell them. Oftentimes the docs tell them to include JS in the `<head>` (like [FlexSlider](http://www.woothemes.com/flexslider/)). Alternatively, they will put it in the footer, see if it works, then, if it doesn't, they move it to the head as a means of debugging.

[2015-06-23 15:55] dmolsen opened #168 "Expiration Date and Redirect for Pages"
One thing I'm seeing in the old content for Admissions are "event" pages that clearly are out of date but still "live." Maybe they're not linked anymore from the Admissions site proper but Google has the links and continues to index them. I was thinking it might be helpful to have an expiration date for pages. In addition to this it might be nice to offer a "redirect" in case there is more appropr

[2015-06-23 16:01] dmolsen commented on #163
I think it's a good addition (added a date to this one) but I'm sure it might cause you guys headaches a little based on inexperienced users.

[2015-06-23 19:06] nreckart commented on #165
Blank id and class attributes should be gone from this point forward when inserting links, images, and videos. Blank attributes created from previous content will remain.

[2015-06-23 19:16] nreckart commented on #163
`<r:include_javascript name="example" async="true" />`
and
`<r:include_javascript name="example" defer="true" />`

Are now supported. Both attributes are optional. You could even use them both together, but the world may explode.

The actual content generated for the async bit is `async="async"`, because that's how Rails handles it, apparently. Shouldn't matter in practice.

[2015-06-23 20:15] zeroedin commented on #163
From the specification: http://dev.w3.org/html5/spec/single-page.html#attr-script-async

:+1:

[2015-06-23 20:37] adamjohnson commented on #163
Updated the docs to include `async` and `defer`:

http://cleanslatecms.wvu.edu/how-to/theme-development/tag-index/r-include-javascript

Thanks everyone!

[2015-06-23 20:37] #163 closed, assigned to nreckart

[2015-06-24 14:51] #165 closed, assigned to nreckart

[2015-06-24 17:29] adamjohnson opened #169 "New blog post type: External Link"
Several people have requested to be able to create a blog post that links to external articles. Many times, these links go to WVUToday. For example, here's the B&E site's blog which has about 40% of their blog posts linking over to WVUToday:

http://www.be.wvu.edu/news_events/index.htm

So, here's how it could work:
1. Click "Add Child" on the blog index page
2. Modal pops up and says: ![blog-exte

[2015-06-24 17:39] zeroedin commented on #169
As an FYI, on WVUToday this feature, is nothing more than a standard article element with an additional "URL" field.  If the external URL was present everywhere the article was linked would go to this external URL.

This was done so if the "external link" was ever changed or was removed from the 3rd party site the URL could be removed and separately stored content could be shown.  This content cou

[2015-06-24 17:45] adamjohnson commented on #169
cc @ericalindsay

[2015-06-24 18:58] adamjohnson commented on #169
@zeroedin brought up a valid point. Blog post authors may want more than just plain text for their External Link Blog Articles (for example, a [blog post thumbnail](http://code.tutsplus.com/)).

Perhaps it is best to make the external link blog post a page/blog article. This would allow the author to customize the content accurately and would also satisfy content in the RSS feed.

Theoretically sp

[2015-07-09 15:24] osteffich opened #170 ""View" feature"
When clicking the "view" link on a page -whether it is in edit mode or on the pages tab - I am directed to the homepage of the site and not the particular page that I'm trying to view. "view in new tab" works fine.

This issue happens only on sites that are live. It doesn't happen on sites in development.

[2015-07-09 15:39] nreckart commented on #170
I'm not seeing the issue. I've checked multiple sites in production, including School of Art & Design and all links work as they should both in the Admin UI and the Editor. @osteffich, can you provide a specific example?

[2015-07-09 15:44] osteffich commented on #170
Ok I swear it was happening on the School of Music website a few minutes ago, but now seems to be working fine. Sorry!

[2015-07-09 15:46] nreckart commented on #170
Had you just edited the properties of a page, created a new page, moved a page, or anything like that?

[2015-07-09 15:48] osteffich commented on #170
I had actually just created a test page because I was teaching someone how to use Cleanslate. I already deleted the page, but the issue was happening on that page specifically.

[2015-07-09 16:03] nreckart commented on #170
**Background**
Anytime a change is made that could potentially affect any of the paths/URLs for one or more pages for a site, the system has to rebuild those paths/URLs. This process isn't as smart as it potentially could be. It basically deletes all site page paths and rebuilds them. The time this takes increases with the number of pages for a site. Prior to last week, this process was done withi

[2015-07-14 18:01] nreckart commented on #170
Anybody still seeing this issue?

[2015-07-14 20:43] nreckart opened #171 "Ability to randomize files, pages, and articles when looping"
@dmolsen has requested the ability to retrieve a list of site images randomly ordered. The specific use case in this instance is retrieving a random site image within a template. The concept can be generalized across files, pages, and blog articles.

[2015-07-14 21:08] nreckart commented on #171
Retrieving random files, pages, and blog articles can be done similar to the following:

[code]

[2015-07-15 17:23] #171 closed, assigned to nobody

[2015-07-15 17:23] #162 closed, assigned to nreckart

[2015-07-15 17:24] #170 closed, assigned to nobody

[2015-07-21 19:56] nreckart commented on #156
I don't think updating Plupload would fix the PDF uploading issue, but keeping things up-to-date is usually a good idea.

When you upload a PDF, the system generates a preview image for it to be displayed in the admin UI. I think the uploading issue is caused by this process, which probably pukes for huge PDFs. After doing a little research, I'm not sure there's an efficient way to actually genera

[2015-07-21 19:57] adamjohnson commented on #156
Works for me. Usually the PDF preview is not very helpful anyway (small text in a PDF).

Tally ho.

[2015-07-21 20:15] zeroedin commented on #156
Dunno if relavant, but any chance you are trying to create a preview icon for all pages in the PDF?

http://stackoverflow.com/questions/467793/how-do-i-convert-a-pdf-document-to-a-preview-image-in-php

PHP example and again not sure if its at all helpful.

[2015-07-21 20:21] nreckart commented on #156
No, it takes the first image, but I'm not sure exactly how ImageMagick and GhostScript interact. Limited testing shows that GS borks on large PDFs and it has actually killed my test VM 3 times.

The previews were a nice gimmicky feature, but as @adamjohnson pointed out, they aren't all that useful. I can cut them out and fix the issue while speeding up PDF uploads in general. Any objections?

[2015-07-21 20:22] zeroedin commented on #156
Sounds good to me.

[2015-07-21 20:30] dustinmazon commented on #156
No preview is definitely ok. +1 @adamjohnson It's too small to see anyway.

[2015-07-22 05:45] nreckart commented on #156
Should be able to upload gigantic PDFs now. The actual issue of updating Plupload is still open.

[2015-07-24 14:50] dmolsen opened #172 "Block wpad.dat Requests"
Use Apache to catch these requests instead of letting Clean Slate throw a 404.

[2015-07-28 20:08] nreckart commented on #172
Jay handled it in the apache config.

[2015-07-28 20:08] #172 closed, assigned to jja006

[2015-07-28 20:15] jja006 commented on #172
Confirmed - this is in cleanslate production now. I will need to update 1-common.conf for other clusters at a later date to backport this to the standardized config we're using there. Thanks for closing.

[2015-07-29 19:29] nreckart commented on #161
So this has reared it ugly head again and I have a better understanding of a scenario in which this can break links.

It is not uncommon for a content editor to reorganize the links on a page. They select an existing file/page link, which has a special data id attribute, cut it, and paste it elsewhere on the same page. When the link is pasted, the special data id attribute gets stripped due to the

[2015-07-30 20:17] jasonmarkle opened #173 "Remove auto-styled images"
## Steps to reproduce the issue
1. Log in to CleanSlate.
2. Click pages > edit any page with an editable region in a new tab.
3. Click inside the editable region and select 'media' in your UI.
4. Upload an image, or select an image and insert it in to the region - don't forget that sweet Alt tag!
5. Open the code terminal from the UI to view the code and see the automatic style tag
## Results

You

[2015-07-30 20:28] adamjohnson commented on #173
@jmarkle825 Would you mind editing your issue to follow the [Contribution Guidelines](https://github.com/wvuweb/cleanslate-cms/blob/master/CONTRIBUTING.md)? This will help us debug your issue.

I have seen this happening when we were working on the admissions site. A hotfix/workaround might be something like this:

[code]

Before any initial testing, I suspect this is getting inserted after a chan

[2015-07-30 20:41] jasonmarkle commented on #173
I will give that a shot and see if it work. Will update in the AM or later tonight.

[2015-07-31 12:49] jasonmarkle opened #174 "Code window UI cuts off at bottom of screen after heavy usage"
## Steps to reproduce the issue (Update: I think this is being caused if you resize the browser window)
1. Log in to CleanSlate.
2. Click pages > open page in new tab > code.
3. Close code > resize browser window > open code again.
## Results

It cuts off at the bottom of the browser window. So this in turn makes it impossible to save changes. You would think I'd notice it from the get go, but som

[2015-08-04 14:36] nreckart commented on #173
The image height/width styles should be gone from any newly inserted images.

[2015-08-05 12:30] jasonmarkle commented on #173
Ok, so that's a start, but should it really be putting any style tag in there at all? What need of inline styling do we have to justify that? Ditch it yo.
![screen shot 2015-08-05 at 8 28 13 am](https://cloud.githubusercontent.com/assets/5209650/9085597/2991180a-3b4c-11e5-8d77-91d14527eb18.png)

[2015-08-05 13:16] #173 closed, assigned to nobody

[2015-08-05 17:36] adamjohnson commented on #173
Just to follow up, @nreckart closed this issue because it solved the original problem. Jason's comment above refers to #2.

[2015-08-06 19:42] jasonmarkle opened #175 "Feature Request: Internal Link as native menu option"
Currently, we have the ability to add internal links through the UI in editable regions only. I feel that using a feature to create a permalink menu item in your actual menu would help for a more consistent UX.

My example is as follows, but I think we should all think about how this impacts the code semantically as well, as the current solution seems to be including an additional unordered list e

[2015-08-07 14:54] adamjohnson commented on #175
Lots of people are using "Add Page > External Link" for internal links because they want to build out their auto-generated navigation menus. [Diversity](http://diversity.wvu.edu), [Accessibility Services](http://accessibilityservices.wvu.edu), and [Graduate Education](http://graduate.wvu.edu) come to mind, although I'm sure most sites use this functionality at some point or another.

Maybe this co

[2015-08-07 19:21] jasonmarkle commented on #175
I know you guys are more familiar with how CS works in terms of what is going on in the code, so take this suggestion with a grain of salt because I'm not sure you could achieve the objective this way.

You basically have a way to generate the internal link already, would it be possible to add that as a menu item inside the "Create a new page" UI element that would be similar to the external link

[2015-08-10 21:25] adamjohnson commented on #174
I'm unable to reproduce this issue following the instructions provided.

If you run into this in the future, keep in mind you can hit ⌘/CTRL + S to save and close the modal.

Closing this if/until we see it again.

[2015-08-10 21:25] #174 closed, assigned to nobody

[2015-08-28 15:29] dmolsen opened #176 "Trim "content_keys" Attribute"
When splitting the content keys each one should be trimmed. I ran into an issue where I separated content keys with a `,` instead of just `,`. Not a huge deal and I'll look at submitting the patch.

[2015-08-31 23:13] architarious commented on #145
Used the above to devise some logic that pulls content from different sets of faculty profiles depending on if their programs abbreviation happens to be set as the current page's alternate page-name: https://stash.development.wvu.edu/projects/CST/repos/cpass-discover/browse/views/components/academic/_m-academic_facultyList.html

I might rework the alternate page-name aspect later, but I figured I

[2015-09-10 15:33] architarious opened #177 "Paragraph tags randomly don't work"
In multiple browsers I keep having cleanslate not wanting to apply paragraph tags through the "block format" dropdown menu. Instead, i normally have to paste in the content, open the html editor and insert the tags manually. Sometimes I'll even put the tags in through html editor and it will erase them when I hit "save and replace". Both of these seem to be happening completely randomly in both fi

[2015-09-11 21:22] adamjohnson commented on #177
Many of the things you have specified deal with the HTML5 `contentEditable` attribute that [Mercury](https://jejacks0n.github.io/mercury/) (our editor) uses. The strange behavior and crappy markup that you’re seeing stems from lack of any standards around that attribute and different implementations by browser vendors.

The guardian team is documenting these here:

https://github.com/guardian/scri

[2015-09-11 21:22] #177 closed, assigned to adamjohnson

[2015-09-29 18:21] dmolsen opened #178 "Add Support for jQuery Social Stream Plugin"
Reed College of Media is wanting to use the [jQuery Social Stream Plugin](http://codecanyon.net/item/jquery-social-stream/2103997) from DesignChemical on their Clean Slate site. The trick is that the Twitter feature requires something server-side. In the docs it's PHP but obviously that won't work here (_necessarily_). We need to get the code from Halley but once I get it via email I can figure ou

[2015-10-13 16:23] architarious commented on #177
cool, thanks for the info

[2015-10-13 18:51] dustinmazon opened #179 "Display all page properties when creating a new page"
## Steps to reproduce the issue
1. Log in to CleanSlate.
2. Select your site.
3. Go to Pages.
4. Create a new page.
5. Now you are in the page properties modal for a new page.

![screen shot 2015-10-13 at 2 49 25 pm](https://cloud.githubusercontent.com/assets/1126703/10464820/a315815e-71b9-11e5-863b-0133ae76da59.png)
## Results

When you are creating a new page all available page properties are no

[2015-10-13 19:49] dustinmazon opened #180 "Reuse Content Snippet - Page Selection"
## Steps to reproduce the issue
1. Log in to CleanSlate.
2. Select the Undergraduate Admissions site (or any site that has two or more pages with the same page name).
3. Click on a page to edit.
4. Select Snippet to add a page snippet.
5. In Snippet Panel select the Reuse Content snippet.
6. Type in a search Apply
7. Notice two pages with the same title show up.

![screen shot 2015-10-13 at 3 40 0

[2015-10-13 20:11] adamjohnson commented on #179
I was able to have these tabs show up in the UI, create a new page with various properties (I had Basic Properties + JS). However, it appears there is more to do here than just make the tabs show up. I couldn't actually hit the page via it's permalink after making the change.

Here's the view where the tabs show up:

https://github.com/wvuweb/cleanslate/blob/dev/app/views/pages/_form.html.erb#L20

[2015-10-15 19:56] jasonmarkle opened #181 "Figure and Figcaption UI"
With all the research that goes on at WVU and (at least in engineering) the research websites that get put out, I feel like having the figure and figcaption as UI elements in the editable mode for content editors could be really beneficial.

[2015-10-16 12:40] jasonmarkle opened #182 "Forward slashes (/) in filenames break the files tab view"
Yesterday I ran in to an issue with about 10 files disappearing from view in the backend and front end of the CMS, either on the files tab, or in the link files UI element in the edit mode respectively. This isn't something that I know exactly how to recreate on another site or test environment, but feel free to use the multipleflybycapture.sandbox.wvu.edu site where it is currently happening.
1.

[2015-10-16 12:51] jasonmarkle opened #183 "Integration of Digital Measures (request)"
Per the meeting my team and I had downtown earlier this week, digital measures integration was a topic of discussion for engineering. I think we would basically be the guinea pig, but gotta start somewhere! Hopefully this is in the right area, if not feel free to move it or tell me where to it needs to go.  I still need to check out the API, just haven't had a chance to this week so I'll probably

[2015-10-16 13:48] nreckart commented on #182
This particular issue was caused by the following file:

Didion, A.M., Lynam, A.E., “Guidance and Navigation of a Callisto-Io-Ganymede    Triple Flyby Jovian Capture”, AAS Paper 15-624, AAS/AIAA Astrodynamics Specialist    Conference, Vail, CO, August 2015.pdf

Specifically, the '/' character blew up the routing. I replaced it with a space and you can access all your files again. In the short term

[2015-10-16 13:54] dmolsen commented on #183
@jmarkle825 -

What would be helpful is for you to check out the API and think about how the calls map to the content you'll want to show on the site. I haven't checked it out either but if we can limit the integration to what a client (you) would realistically use it'll be much easier to implement. If you can come back with a brief example of a pseudo-pattern (e.g. fake mark-up, no styles) and th

[2015-10-16 14:08] dmolsen commented on #181
@jmarkle825 -

Do you mean as a drag and drop snippet? If you could expand on how you think the interaction would work that would be helpful. Thanks.

[2015-10-16 14:32] jasonmarkle commented on #182
Thank you much Nathan!

[2015-10-16 15:49] jasonmarkle commented on #181
@dmolsen

So essentially I'm thinking that it could just be a button for editable regions sort of how the tables work.
1. Navigate to the page with the editable region and click the figure tool in the UI
   ![img figure tool](http://i.imgur.com/Xk6eKG5.jpg)
2. This will pull up window with some fields, typically for a figure it's an image with a caption under it:
   ![img figure popup ui](http://i

[2015-10-19 14:39] nreckart commented on #182
Special characters, including forward slashes, should be correctly handled by the system now.

[2015-10-19 14:39] #182 closed, assigned to nobody

[2015-10-27 15:37] nreckart commented on #102
@adamjohnson Add what about config.yml?

[2015-10-27 18:59] adamjohnson commented on #102
If `config.yml` can be invalid or cause a site to get hosed, then add that into the mix. Otherwise, ignore me.

[2015-11-04 18:42] jasonmarkle opened #184 "Changing to a repo with different template names causes internal service request errors"
## Steps to reproduce the issue
1. Log in to CleanSlate.
2. Open a site > Settings > select theme (in this instance I went from Engineering: Faculty Research > Engineering: Center for Alternative Fuels Engines and Emissions)
3. Pages > Hover on a page that has a backpage template and select properties
## Results

Internal Server Request Error
## Expected results

Allows me to pull the properties p

[2015-11-04 21:41] nreckart commented on #184
This should be fixed. @jasonmarkle can you verify?

[2015-11-04 21:49] jasonmarkle commented on #184
Tested and verified. The expected result is now occuring. Closing the issue. Thanks @nreckart !

[2015-11-04 21:49] #184 closed, assigned to nobody

[2015-11-06 19:11] architarious opened #185 "Feature Request: Blog Archive List"
# Proposal

If a user comes onto one of our blogs and is looking for a story from about a few months or sometimes years back, they have to browse through dozens or potentially hundreds of different posts looking for their story. It would be ideal if there was a dynamically generated list on the side that could provide a link to (possibly cached) list of all articles that where posted in a specific

[2015-11-06 19:37] architarious commented on #143
What's the status on this?

The tag index on the CleanslateCMS site hasn't been updated in over a year: http://cleanslatecms.wvu.edu/how-to/theme-development/tag-index

[2015-11-06 21:48] architarious opened #186 "Feature Request: Blog article tag links"
# Proposal

When users our visiting one of our blogs, it would be ideal for them to be able to click on a tag and then be taken to a list of links of all other blog articles with the same tag.

![Tag screenshot example](http://ui-patterns.com/uploads/image/file/770/best_1496.jpg)
Source: http://ui-patterns.com/patterns/Tag
## Thoughts on possible implementations

Based on what was already being do

[2015-11-09 16:36] adamjohnson commented on #185
I've had 3-4 other people contact me regarding this request. :+1:

Here's the date list:

![blog-archives-list](https://cloud.githubusercontent.com/assets/575865/11039481/e477b744-86d5-11e5-8d0d-3ec9f1f79c84.png)

And, after you click on "June 2015", it takes you here:

![blog-archives-list-results](https://cloud.githubusercontent.com/assets/575865/11039480/e46d0d12-86d5-11e5-9dac-d7d71e919ad0.png

[2015-11-09 16:46] adamjohnson commented on #186
I've also received this request a few times from a few different people. :+1:

[2015-11-09 19:29] sfgwv opened #187 "Content Version History unavailable"
When trying to view content history for orientation.wvu.edu/confirmation/schedule/parent-guest-schedule, I get this message for each of the three versions listed:

Unable to retrieve data from url: https://cleanslate.wvu.edu/sites/140/pages/6341/regions/20624/version/139279

[2015-11-09 19:59] nreckart commented on #187
Not sure you were intending to or not, but you were viewing the history for the content region in the masthead, probably because it is the first one selected when loading the editor. The one that says "NEW STUDENT ORIENTATION". It is a global site region and there was a bug preventing the loading of history for global regions. It should be fixed now.

Regions are versioned separately, so to view t

[2015-11-09 20:01] sfgwv commented on #187
Got it. I can see the history for all of the regions now. Thanks!

[2015-11-09 20:01] #187 closed, assigned to nobody

[2015-11-12 16:31] nreckart commented on #159
Can we close this?

[2015-11-12 16:31] nreckart commented on #158
Can we close this?

[2015-11-12 16:35] ldbridges opened #188 "Bug: Masthead in mobile gets cut off"
on my iphone 6s the masthead in brand patterns gets cut off.

[2015-11-12 16:38] ldbridges opened #189 "Issue: link to cleanslate in footer"
On concept board it was requested that the color of the footer link to cleanslate (date link) not be a different color. Should this be fixed on the patterns? I've had this mentioned a few times being it's a security issue.

[2015-11-12 18:25] #161 closed, assigned to nreckart

[2015-11-12 18:34] adamjohnson commented on #189
Lisa: issues involving Patterns should be filed in the [Brand Patterns](https://github.com/wvuweb/brand-patterns). Also, this issue has already been resolved. See this issue for more info:

https://github.com/wvuweb/brand-patterns/issues/21

If you are copying and pasting themes that you've done in the past, you won't get the updates that we've pushed to Brand Patterns. You'll have to build a them

[2015-11-12 18:34] #189 closed, assigned to adamjohnson

[2015-11-12 18:40] dustinmazon opened #190 "Reuse Content Snippet - Updated Content"
## Steps to reproduce the issue
1. Log in to CleanSlate.
2. Select the your site.
3. Create a page called "page A", load content into an editable region and publish.
4. Create a new page called "page B" and use the "reuse content" snippet to populate an editable region and then publish.
5. Update "page A" editable region content.
6. Notice the difference between versions of "reuse content".
## Res

[2015-11-12 18:42] adamjohnson commented on #188
This is a valid issue, but it's not filed in the correct place. Please file this issue here:

https://github.com/wvuweb/brand-patterns/issues

and fill out the following template when you post issues:

[code]

This allows us to quickly troubleshoot and reproduce your issue; thus, enabling us to fix it faster. Thanks!

[2015-11-12 18:42] #188 closed, assigned to adamjohnson

[2015-11-12 18:42] nreckart commented on #190
Wait 15 to 30 minutes then look again.

[2015-11-12 18:42] #190 closed, assigned to nreckart

[2015-11-20 14:46] #176 closed, assigned to nobody

[2015-12-01 19:28] bokster opened #191 "Feature Request: Easy Access to Files URL"
There is no easy way to retrieve links of PDFs or images for public viewing/download. Current method is to add a link to some text on a page via Insert Link and then hover it to get the URL.
## Proposal

Perhaps adding a "URL" in the file property.

![pdf](https://cloud.githubusercontent.com/assets/289061/11511547/b7cc68b6-9837-11e5-8f67-68b83adf2769.png)

[2015-12-02 21:43] nreckart commented on #185
The archive functionality is already there, the issue is building the links.

foo.com/blog/2015/01/21
foo.com/blog/2015/01/22
foo.com/blog/2015/01
foo.com/blog/2015/02
foo.com/blog/2015/03
foo.com/blog/2015
foo.com/blog/2014

Right now you have to manually create the links, which can be done in the template using looping logic or via javascript. Not ideal, but you can still provide access to the a

[2015-12-07 15:36] adamjohnson commented on #185
@nreckart Can you give a code example of how this looping logic will work? If so, I can add it to the default templates in the CleanSlate Toolkit and Brand Patterns.

[2015-12-07 21:38] nreckart commented on #185
[code]

It isn't pretty, but it gets the job done. This uses the 'archive_months' variable to store a comma separated list of Month/Year items. In this example I set the variable in the template, but it could easily come from a custom page attribute, which could then be maintained via the UI.

I don't know that I would recommend adding it to the toolkit or patterns since it really isn't the best s

[2015-12-08 21:09] nreckart commented on #185
What do we want the HTML output for this to be? I envision it working like the menu tags.

[2015-12-08 21:26] adamjohnson commented on #185
I'd be happy with outputting these as a `<ul>`. That said, there's probably some useful options to display.
- `show-article-count` - Boolean, displays the number of articles for the given link (like [this](http://whitewaterfreestyle.com/archives/))
- `date-format` - How to display the date, eg 1/1/16 or January 1, 2016.
- ...others...?

What template will "Archives for June 2015" use (head nod to

[2015-12-08 21:28] zeroedin commented on #185
Example of what WVUToday's use case might be: http://wvutoday.wvu.edu/home/story_archive

[2015-12-08 21:28] adamjohnson commented on #185
Moar examples:

http://wvutoday.wvu.edu/n/2015/12

[2015-12-10 16:16] jasonmarkle commented on #185
+1

Currently working on the blog index for the new engineering site and we have the ability to sort by category (labels) and dates in the old system. Ex: [Statler News](http://www.statler.wvu.edu/news/news.php)

[2015-12-10 16:32] jasonmarkle commented on #185
@nreckart Could you use that looping logic with labels also? Or is it specific to the date formats since they are an existing radius tag?

@adamjohnson +1 on the default being the blog index. Breaking it up in to another view would be confusing since you're just reorganize the content in a more specific way.

[2015-12-10 18:03] nreckart commented on #185
@jasonmarkle You can use generic looping for anything. You would want to loop over a specified list of tags to build the 'category' links. You'd need to specify the tags because, otherwise, you'd get every tag used anywhere on the site.

[code]

[2015-12-10 18:08] jasonmarkle commented on #185
@nreckart so essentially create a variable:

[code]

Is this correct?

[2015-12-10 18:27] nreckart commented on #185
You don't necessarily have to set a variable. The value can be embedded directly in the tag as in the example. If you want the tag list to be manageable via the admin UI, you could use a custom page/template attribute.

[2015-12-10 18:58] nreckart commented on #185
Here's what we'll start with. This is ready to go now, but hasn't been deployed. @adamjohnson, now is the time to change the default classes applied to the elements.

**New tag:** `<r:blog:archive:monthly />`

**Attributes:**
- _date_format_: How to output the date portion of the data. Uses the same syntax as `<r:date_format>` (Default: %B %Y)
- _include_count_: (true|false) Whether or not to incl

[2015-12-10 19:00] zeroedin commented on #185
:+1:

[2015-12-10 19:59] adamjohnson commented on #185
Here's my suggestion on default class names:

[code]

Being able to customize them via the Radius tag is awesome. :+1:

When this has been implemented, I'll add them to Brand Patterns, the CleanSlate toolkit, and document them in the tag index on the CleanSlate help site.

[2015-12-10 20:08] jasonmarkle opened #192 "Labels cant be edited after creation"
Labels that are already created and saved to the CMS will not allow themselves to be edited even if the user has admin privileges or is the site owner.
## Steps to reproduce the issue
1. Log in to CleanSlate.
2. Click Labels > Attempt to edit a label and save. Try with and without the checkbox selected.
## Results

Produces a 'Request Failed (Forbidden)' error
## Expected results

It's supposed ch

[2015-12-10 20:10] jasonmarkle commented on #192
I'll go ahead and mention this is low priority obviously. It's simpler to just create a new label, but I felt this was not working as intended and didn't want to forget about it.

[2015-12-11 15:48] nreckart commented on #185
This has been deployed with the CSS class changes.

[2015-12-11 15:48] nreckart commented on #192
This should be fixed.

[2015-12-11 15:49] jasonmarkle commented on #192
confirmed. issue has been resolved.

[2015-12-11 15:49] #192 closed, assigned to nreckart

[2015-12-14 21:40] adamjohnson commented on #185
Docs have been written: http://cleanslatecms.wvu.edu/how-to/theme-development/tag-index/r-blog-attr

[2015-12-15 14:43] jasonmarkle opened #193 "Calendar as a snippet"
So this might be easily accomplished with a radius snippet for the time being, but, how about we maybe consider adding the calendar as a snippet. My situation follows, and hopefully other people deal with this as well:

On our main site we have a calendar feed, that feed isn't the same as the one on the department pages, and each department has their own feed, which are all different as well. So t

[2015-12-15 19:47] nreckart commented on #191
For now, I added the public URL for a file to its edit form/modal. There's probably a better place to display it in the long term, but after some internal discussion we decided on the form for now.

Keep in mind that the public URL is based on the current default/primary domain for the site. So if you're working with a new site via a sandbox URL, it's going to change when you move to production.

[2015-12-15 21:30] adamjohnson commented on #185
This tag has been added to the Brand Patterns repo:

https://github.com/wvuweb/brand-patterns/commit/756e3a3628ebb88a2a5cb1027ca35eeee0fdb64b

Only thing left is to get it to render in hammer, but there's [already an issue](https://github.com/wvuweb/hammer/issues/39) for that. Closing this issue. Nice work everyone!

[2015-12-15 21:30] #185 closed, assigned to nreckart

[2015-12-15 22:31] adamjohnson commented on #191
![file-public-url](https://cloud.githubusercontent.com/assets/575865/11826167/8e2c6b76-a351-11e5-946e-9a4f4e9f26bd.png)

Here's a screenshot of this. I'm going to close this issue for now. We can re-open it if needed in the future when we get more file properties/meta info.

[2015-12-15 22:38] adamjohnson commented on #193
The calendar needs to be set up from a theme perspective (requires jquery and CSS), so we're not going to make a snippet for it. You can insert it into an editable region via the "Radius Snippet" if it needs to be editable and set `scope="site"` if you need to.

Alternatively, if the calendar feed changes per page, you could use (again) a normal editable region with the "Radius Snippet" _or_ custo

[2015-12-15 22:38] #193 closed, assigned to adamjohnson

[2015-12-16 00:29] jasonmarkle commented on #193
:+1:  I have done this and it makes it way easier just throwing the JS in to the radius snippet. Especially when using a repo that might have templates that span multiple sites.

[2015-12-16 13:13] bokster commented on #191
Cheers!

[2015-12-17 01:39] jasonmarkle commented on #150
:+1:  Hate to be finding this now, but it sort of messes up the plan for all the engineering department sites.

[2015-12-18 13:46] jasonmarkle opened #194 "Undefined Tag 'previous_url'"
## Steps to reproduce the issue
1. Log in to a cleanslate site with pagination on the blog
2. Push an update to the repo
3. In cleanslate go to Manage > Messages
## Results

It does this.

Gives me an error about the previous_url tag being undefined

It's supposed to do this.

There should be no error, as previous_url is a defined tag https://github.com/wvuweb/brand-patterns/blob/master/views/blog

[2015-12-18 14:39] nreckart commented on #194
In the future, please provide the URL that generates the error along with the site and theme being used.

This URL is generating the error: http://statler.sandbox.wvu.edu/news/images/show-search-icon-blue.svg

This isn't even a valid URL, so it should be throwing a 404, which is a separate issue that I will need to look into. Where is this URL being generated/used?

The `previous_url` is working f

[2015-12-18 14:51] jasonmarkle commented on #194
Sorry about that:

URL: http://statler.sandbox.wvu.edu/news

Template: https://stash.development.wvu.edu/projects/CST/repos/engineering/browse/views/blog_index.html

Correct-URL: http://statler.sandbox.wvu.edu/images/show-search-icon-blue.svg

So here's a watered down version of what's happening.

The css has a relative file path to the image location, and on any typical page it would be throwing

[2015-12-18 14:57] jasonmarkle commented on #194
Also to note, that css is in the cleanslate CSS under the settings. I'm inlining the style to overwrite the colors and then pull those two images in so that it doesn't require a pattern every time someone wants to change stuff to a different color. This could also be part of the problem since that get's inlines in the head of the page. And actually, now that I think that could be the main cause si

[2015-12-18 15:06] nreckart commented on #194
Yes, using a relative image path in the site CSS that way is most likely the issue. CleanSlate does some special processing of relative file URLs within the theme CSS to ensure they are valid. That processing does not get done on the site specific CSS.

[2015-12-18 18:17] nreckart commented on #150
**New tag:** `<r:xslt_transform url="http://example.com/blog.rss" [xslt_file="/path/to/file.xslt"]>`

Using `<r:xslt_transform>` you can retrieve XML from a _url_ and transform it into whatever you want via [XSLT](https://en.wikipedia.org/wiki/XSLT). The XSLT template can be supplied either in the contents of the `<r:xslt_transform>` tag or via the _xslt_file_ tag attribute, which would be a path

[2015-12-18 21:00] adamjohnson commented on #193
An even better way to do this would be to use a Custom Site Data Attribute. They're new as of yesterday, 12/17/15. Here's the docs for `custom_site_attributes`:

http://cleanslatecms.wvu.edu/how-to/theme-development/custom-data#How_to_use_Custom_Site_Data_attributes_49

Using `script` tags inside the Radius Snippet has been hit or miss in the past, so using Custom Site Attributes are probably a be

[2015-12-21 20:56] adamjohnson opened #195 "Cannot create new sites"
## Steps to reproduce the issue
1. Log in to CleanSlate with admin privileges.
2. Click "Create Site".
3. Fill out the fields with any data you like.
4. Click "Save Settings".
## Results

CleanSlate throws an application error. Here's part of the application error as seen from my VM:

`PG::Error: ERROR:  null value in column "custom_data" violates not-null constraint`

Presuming this has to do wit

[2015-12-22 16:03] jasonmarkle commented on #194
Confirmed. There have been no additional errors since using an absolute path. For some reason, at the time, a relative path didn't seem like a big deal. Hindsight is always 20/20 I guess. It should have been an absolute path from the start simply because it's being embedded in to a `<style>` tag, so this is not a bug and I'm closing the issue.

[2015-12-22 16:03] #194 closed, assigned to nobody

[2015-12-22 17:17] adamjohnson commented on #195
I can confirm that this is fixed. Thanks @nreckart!

[2015-12-22 17:17] #195 closed, assigned to nreckart

[2015-12-29 21:36] jasonmarkle commented on #150
After installing this in the [engineering-departments repo](https://stash.development.wvu.edu/projects/CST/repos/engineering-departments/browse/views/frontpage.html#21-23), I built on to it and tested it. As a raw URL, things work fine within the tag, but once I get a little more complex with passing it [custom site data](https://stash.development.wvu.edu/projects/CST/repos/engineering-departments

[2015-12-30 14:59] jasonmarkle opened #196 "Suggestion: single column list for custom data"
Essentially, we have a two column list for the custom data, but due to how custom data handles naming conventions with either underscores or camel case really being the best formatting options maybe we should break this in to a single column with the input fields floating to the right margin and the naming conventions to the left.

Currently, having the two column list forces long strings to fall

[2015-12-30 15:06] nreckart commented on #150
@jasonmarkle What URL are you using that is breaking?

[2015-12-30 15:33] jasonmarkle commented on #150
@nreckart The variable being pulled in above is http://statler.sandbox.wvu.edu/news.rss?tags=mae

[2015-12-30 15:51] nreckart commented on #150
Custom site data is accessed through the `<r:site:data>` tag, not the global variables namespace. Unfortunately, you can't use a tag as the attribute of another tag, so you'd need to basically define a template variable and assign the site value to it.

`<r:set_var name="url"><r:site:data name="department_news_rss_url"/></r:set_var>`

Then

`<r:xslt_transform url="{$url}" xslt_file="/util/rss_1.xs

[2015-12-30 16:29] jasonmarkle commented on #150
Yeah, that's what I was trying to do. I ended up creating a variable but I was calling it through the page data instead of site data which was giving me an error. That has been alleviated and I'm now working on trying to get the images and story link to pull over. They are currently output, but not actually displayed within the content of the page even though they are showing in the source. I thin

[2015-12-30 16:41] nreckart commented on #150
I replied to your RSS email. I'm trying to keep this issue clean and specific to the original issue. At this point I think the issues are restricted to your specific site implementation, so we should handle it outside of this issue.

[2015-12-30 16:54] nreckart commented on #150
@jasonmarkle: I've made some changes and custom site data should now be accessible via the global variable namespace. So you should be able to access your site specific RSS URL as you originally intended, without needing to first reassign it to a template variable.

`<r:xslt_transform url="{$department_news_rss_url}" xslt_file="/util/rss_1.xslt" />`

[2015-12-30 19:21] adamjohnson commented on #150
In plain english, this means that, if you use [custom data](http://cleanslatecms.wvu.edu/how-to/theme-development/custom-data) (site or page), you can output that data via a variable in a tag _without_ having to use `<r:set_var />`.

Code example:

config.yml

[code]

frontpage.html

[code]

---

If, for some (poor) reason, you have custom site data and custom page data with the same name (eg: `ke

[2016-01-04 22:21] adamjohnson commented on #101
https://github.com/wvuweb/cleanslate/commit/d96a127fc844a61595bdb4cce631f1271c668489 closes this issue.

[2016-01-04 22:21] #101 closed

[2016-01-05 15:51] nreckart commented on #101
This is also related to #180, which I believe is still a valid issue.

[2016-01-05 16:02] nreckart commented on #102
A site messages/errors feature was implemented in October with 943091f435b9ff3156468039cfad63b0f164430b.

[2016-01-05 16:02] #102 closed

[2016-01-05 16:04] nreckart commented on #146
This was handled along with #102.

[2016-01-05 16:04] #146 closed, assigned to nobody

[2016-01-05 16:36] #164 closed, assigned to adamjohnson

[2016-01-06 19:20] adamjohnson commented on #143
@architarious Sorry to not have followed up on this sooner. We were out of the office at a conference when you commented. The date for the [tag index page](http://cleanslatecms.wvu.edu/how-to/theme-development/tag-index) means that index page hasn't been updated in over a year; however, the child pages of that page have been updated much more recently (like [these](http://cleanslatecms.wvu.edu/how

[2016-01-06 19:22] adamjohnson commented on #144
https://github.com/wvuweb/cleanslate-cms/issues/102 closes this issue.

[2016-01-06 19:22] #144 closed, assigned to nreckart

[2016-01-06 19:37] adamjohnson commented on #180
Two options come to mind to solve this:

![reuse-content-proposal-v2](https://cloud.githubusercontent.com/assets/575865/12152430/a2ed129e-b482-11e5-9a95-43ce20b9f987.jpg)
1. Page paths next to the name
2. Or you could have a "Choose Page" button (akin to the one in the "Link" modal) and it would do the same thing as "Link > Choose Page".

[2016-01-06 19:50] adamjohnson commented on #196
The following two commits fix this issue:

https://github.com/wvuweb/cleanslate/commit/fc2077e1433810fad1e7c3de1dfe3ff6ab86f033

https://github.com/wvuweb/cleanslate/commit/0bec817c0ae1a79f23dd5e6edec2836789929b2e

Here are two images of the new custom data layouts:

![custom-site-data-layout](https://cloud.githubusercontent.com/assets/575865/12152788/6c6f158a-b484-11e5-8bdd-9d507b5b12a1.png)

![c

[2016-01-06 19:50] #196 closed, assigned to adamjohnson

[2016-01-08 15:03] bokster commented on #152
+1. I just encountered this.

[2016-01-13 14:51] jasonmarkle commented on #152
+1 I have run in to this issue before as well.

[2016-01-13 22:28] adamjohnson opened #197 "Don't allow users to create pages with the same permalink"
## Steps to reproduce the issue
1. Log in to CleanSlate.
2. Go to a site then Pages.
3. Create a page called "Nathan Reckart". Make sure the permalink is `/nathan-reckart`. Also, be sure there is not already another page with this exact permalink.
4. Now that you've created a page with the permalink `/nathan-reckart`, create the page again. Call it "Nathan Reckart" with the permalink of `/nathan-r

[2016-01-14 16:07] jasonmarkle commented on #169
@adamjohnson @zeroedin +1 to this idea. I just had a request yesterday to do this in our old system, which is super hacky and it's not the best in terms of practices, but it was to push one of the new Project Me pages about one of our engineers. I could foresee this being an issue at other colleges as the new brand continues to grow and evolve, especially if they have news sections where they rely

[2016-01-14 16:17] #158 closed, assigned to nreckart

[2016-01-14 16:17] #159 closed, assigned to nreckart

[2016-01-14 16:17] #150 closed, assigned to nreckart

[2016-01-14 21:20] nreckart commented on #152
The 'As Child' option should always be displayed now.

[2016-01-14 21:20] #152 closed, assigned to nreckart

[2016-01-15 16:14] jasonmarkle opened #198 "Feature Request: Expiration Date for articles"
For me in particular this would be to just help with the massive amount of news that we push. The ability to set an expiration date within the articles page options, or better yet even all pages if we have some sort of event promo splash or landing page, would be a tremendous help in content management for blog posts, event campaigns or job listing. I can see this being well used at a higher level

[2016-01-15 16:15] adamjohnson commented on #198
Have you seen this issue?

https://github.com/wvuweb/cleanslate-cms/issues/168

[2016-01-15 16:27] jasonmarkle commented on #198
@adamjohnson I did not, thanks for the reference!

[2016-01-15 16:32] #198 closed, assigned to nobody

[2016-01-15 16:52] jja006 commented on #168
+1. This would be useful for the "campus announcement" articles on students.wvu.edu to approximate the expiration dates we used with those previously in MIX.

[2016-01-28 19:11] adamjohnson opened #199 "Blog pagination buttons cause "Resource Not Found" when in edit mode"
## Steps to reproduce the issue
1. Log in to CleanSlate.
2. Go to a site with a bunch of blog articles, like [this one](https://cleanslate.wvu.edu/sites/5/pages).
3. Click "Edit in a new tab" to go to the [blog index page](https://cleanslate.wvu.edu/sites/5/pages/1176/editor) in edit mode.
4. Make sure you're in edit mode and scroll to the bottom of the page. Click "Older Articles".
## Results

"R

[2016-01-28 19:18] adamjohnson commented on #104
Circling back to this issue. We're now often making a couple sites per day and not having to create pages, domains, and edit settings would be very helpful. Any updates?

[2016-02-03 19:13] bokster commented on #191
A client, who is using a PC, says she is unable to copy and paste the URL in Firefox (Chrome is fine). I am able to duplicate the issue on a PC. I've asked her to use Chrome in the meantime.

Also, she seems to think that the URL cannot be copied initially because of the "you-cannot-do-that" icon when she hovers on it.

![screenshot](https://cloud.githubusercontent.com/assets/289061/12793756/fcf0e

[2016-02-03 19:16] jasonmarkle opened #200 "absolute file paths for images when using rss and xslt"
This issue was discussed via email with @nreckart

Would like to see a way to output absolute file paths of images when using rss and xslt. This would allow the user to pull in an image from a blog in the blog.rss and output it to another site using an xslt stylesheet.

Initial code in blog_index.rss
`<description>
     <![CDATA[
     <img src="<r:article:content name="article-media__first" />"

[2016-02-03 19:31] adamjohnson commented on #191
@zeroedin suggested we use the `readonly` attribute instead of `disabled` for this field. Here's a demo:

http://www.w3schools.com/TAGS/tryit.asp?filename=tryhtml_input_readonly

:+1:

[2016-02-03 20:10] nreckart commented on #191
Did as @zeroedin suggested and made it readonly. Should work now.

[2016-02-04 15:41] jasonmarkle opened #201 "Receiving 403 errors with fast fonts WOFF files"
## Steps to reproduce the issue
1. Log in to CleanSlate.
2. Click on an active blog article > view it in a new tab (alternatively you can just view the news article if you know where it is on the site).
3. Open inspector tools and observe console errors
## Results

Blog articles seem to causes 403 forbidden errors with the fast font woff file.
## Expected results

WOFF files shouldnt be  kicking a

[2016-02-04 15:43] jasonmarkle commented on #201
I'm actually receiving this everywhere on the site now. Maybe this is being caused by something else?

[2016-02-04 16:13] jasonmarkle commented on #201
These seem to be loading fine now. Maybe it was an issue on their end. Closing the issue for now.

[2016-02-04 16:13] #201 closed, assigned to nobody

[2016-02-04 21:20] bokster commented on #191
Thanks everyone.

[2016-02-04 21:20] #191 closed, assigned to adamjohnson

[2016-02-08 13:22] nreckart commented on #200
You can now specify `absolute_urls="true"` in the `<r:page:content>` tag(s) used in the blog RSS template, which will then use absolute URLs for all internal URLs, which includes images, page links, and file download links.

`<r:page:content name="region_name" absolute_urls="true" />`

I had originally planned to just make the change globally and always use absolute URLs, but then I realized why I

[2016-02-08 14:09] jasonmarkle commented on #200
I'll try to confirm this later this afternoon. Letting the dust settle right now with everyone going to their new sites and check on their stuff.

[2016-02-08 15:50] adamjohnson commented on #200
Should this change be implemented for brand-patterns [default RSS template](https://github.com/wvuweb/brand-patterns/blob/master/views/blog_index.rss)? Here's [the code](https://stash.development.wvu.edu/projects/CST/repos/code/browse/views/_blog_index--v1.rss). Or is this change specific to @jasonmarkle's use case?

Make the case for and against.

[2016-02-08 16:08] nreckart commented on #200
@adamjohnson yes, after we confirm that things are working as expected. Without it, all URLs for internal resources are broken when pulled into external sites via the RSS feed.

[2016-02-08 17:48] jasonmarkle commented on #200
@adamjohnson The biggest issue of this was that it needed done to pull in images primarily, which is why the absolute file path was needed. Prior to this, you could get the relative file path output with `<description>` however, the `<media:content>` tag wouldn't return any output, and that reduces flexibility since having multiple description tags will not pass validation. So maybe we should brai

[2016-02-08 18:15] nreckart commented on #200
Huh? Like I said, as it stands now, all internal URLs that appear in RSS feeds for every site that has an RSS feed in CleanSlate is broken. That includes image source URLs, page URLs, and file download URLs. So the actual problem described by this issue goes beyond just images.

You can see a perfect example of this in the current [RSS feed](http://statler.wvu.edu/news.rss) for the new Statler sit

[2016-02-08 19:24] bokster opened #202 "Article Count in r:blog"
Currently the number that is showing the number of articles looks like it's part of the date. Maybe we can wrap it inside a parenthesis, i.e., February 2016 (30)?

![screen shot 2016-02-08 at 2 13 58 pm](https://cloud.githubusercontent.com/assets/289061/12896293/369e0736-ce6f-11e5-8594-fc1a6fdd51cb.png)

[2016-02-08 19:26] adamjohnson commented on #202
You can control this via CSS. Here's an example:

https://stash.development.wvu.edu/projects/CST/repos/honors-college/browse/scss/partials/_blog.scss#14-15

Here's the docs on how to add a custom class to those numbers: http://cleanslatecms.wvu.edu/how-to/theme-development/tag-index/r-blog-attr

[2016-02-08 19:26] #202 closed, assigned to adamjohnson

[2016-02-08 19:35] adamjohnson commented on #200
I've made RSS feeds that pull from the `code` repo in Stash output absolute URLs. Here's the relevant commit:

https://stash.development.wvu.edu/projects/CST/repos/code/commits/4d7956c9698b8816f38182d0d57d68643302fcaf

[2016-02-08 19:35] #200 closed, assigned to adamjohnson

[2016-02-16 20:34] TatsuJohnson commented on #175
I love the implementation of the "Internal Link" feature, but I would like to kindly suggest having the feature available when adding child pages. At the moment, you may only add them through the "Create New Page" feature.

[2016-02-16 20:50] nreckart commented on #175
Working on it. It was an oversight.

[2016-02-16 22:00] nreckart commented on #175
Adding an internal link page as a child should now be possible.

[2016-02-17 13:41] jasonmarkle opened #203 "Child page path goes to / and wont change after editing properties"
## Steps to reproduce the issue
1. Log in to CleanSlate.
2. Click Mining and Industrial Extension > Click Pages > Expand "Industrial Expansion Program".
3. Note the page path is /, then open page properties to see the correct page path. Save.
## Results

Nothing happens, there is not change and the page link on the sidebar will direct the users to the home page.
## Expected results

The page shoul

[2016-02-17 15:12] adamjohnson commented on #203
Quote from @nreckart:

After you create a page, it can take a few minutes (5-15 maybe) for the page path to appear in Pages. It'll get there in time.

[2016-02-17 15:14] jasonmarkle commented on #203
Yeah that was edited less than a minute ago, but the page was created prior to launch 2 weeks ago.

[2016-02-17 15:17] adamjohnson commented on #203
@nreckart care to weigh in?

[2016-02-17 15:22] jasonmarkle commented on #203
@nreckart @adamjohnson This can probably be low priority. I'm sure a hot fix would be just to re-create the page, but I don't want to do that if you guys need the page there to see what's going on.

[2016-02-17 15:55] nreckart commented on #203
The 'Organizational Development' page, directly above the page in question, is already assigned a slug value of 'sustainability'. Thus its path is '/industrial-extension/sustainability', which is what you're trying to set the page in questions path to. You can't have two pages assigned the same path. The first one is winning out. You'll need to change one of the page slugs, then things should work

[2016-02-17 21:58] nreckart opened #204 "CleanSlate doesn't prevent duplicate page slugs being created"
If you create a page and give it a slug that is the same as another page at the same level in the site tree, CleanSlate doesn't yell at you. It allows you to save the page; however, you cannot access the page via its public URL because that URL is already in use for the other page.

[2016-02-17 21:59] nreckart commented on #203
Created #204 to address the main issue.

[2016-02-17 21:59] #203 closed, assigned to adamjohnson

[2016-02-18 17:04] #204 closed, assigned to nreckart

[2016-02-18 17:10] nreckart commented on #197
Related to #204 and fixed with it.

[2016-02-18 17:10] #197 closed, assigned to nreckart

[2016-02-18 17:12] #175 closed, assigned to nreckart

[2016-02-24 18:57] dmolsen opened #205 "Add "Enhanced Link Attribution" to default Google Analytics code"
When reporting on landing pages and campaigns it would be good to be able to determine which links on a page a user clicked on. Right now GA only tracks that User A visited Page Z from Page Y. When looking at Page Y all of the links on that page have the same "click through" percentage. Adding link attribution would let us distinguish traffic between links. More info:

https://developers.google.co

[2016-02-24 19:01] zeroedin commented on #205
+1

[2016-02-24 19:04] dmolsen commented on #205
Dear Nathan,

Can you update the `html_injector` to support this attribute, please? `ga('require', 'linkid');` should go between lines 10 and 11. No rush. Danke.

[2016-02-25 21:08] #205 closed, assigned to nreckart

[2016-02-27 17:37] dmolsen opened #206 "Continuing to Revamp Google Analytics"
I think my custom GA code for admissions is thwarting the link attribution code. At least I'm not seeing any noticeable changes. Rather than doing the custom code it looks like I can switch to several native Google Analytics plug-ins that are bundled into one package. I'm not 100% ready for this change to happen so hold off for now. We'll need to coordinate the event tracking differences. I also w

[2016-02-27 18:06] dmolsen opened #207 "Twitter Platform JS"
Let's reevaluate if we need to have the Twitter JS included in every request. I don't believe we need it for Admissions but I'm seeing it in our requests in Speedcurve. I'm assuming this is an `html_injector` thing.

[2016-02-29 15:21] adamjohnson commented on #207
:+1:

I think this came from the introduction of the Twitter Snippet. Much like Flexslider, themes can be set up to include the Twitter JS or maybe it could be included if the snippet gets added to the page or if there are any snippets on the page.

[2016-03-01 16:42] nreckart commented on #104
Can anyone verify that all of the requested additions are available and working as expected?

[2016-03-01 16:45] adamjohnson commented on #104
We haven’t had any site requests (inconveniently) after these changes have been pushed. Do you want me to create a site and then have you delete it?

[2016-03-01 16:58] nreckart commented on #207
@dmolsen Interesting find. The Twitter JS is indeed added by the HTMLInjector, but it's only supposed to be doing it if one or more `//a[class='twitter-timeline']` exists on a page. Looks like that logic is flawed and it's always adding the JS. I'll fix it.

[2016-03-01 17:48] nreckart commented on #104
Nope.

[2016-03-02 15:36] adamjohnson commented on #104
Just created a site. Holy smokes that was waaaay easier. :+1: Thanks!

I did notice, if you created a site before and visited the default domain (`something.sandbox.wvu.edu`, without the `/home` extension), it would return the "Home" page. At the moment, it is returning the 404 Not Found page.

Also, when creating a new site like this, no activity is registered in the activity feed. It could say s

[2016-03-02 16:42] nreckart commented on #104
@adamjohnson Both issues mentioned should now be fixed.

The page paths weren't being rebuilt after creating the site and the built in auditing wasn't picking up the newly created site.

[2016-03-02 18:20] nreckart commented on #104
I manually fixed the audit logs for 5 sites that have been created with the new process since Feb 24, so the activity should appear correctly.

[2016-03-02 18:25] adamjohnson commented on #104
:ok_hand: Closing.

[2016-03-02 18:25] #104 closed

[2016-03-04 14:59] dmolsen opened #208 "Limit Ability to Delete Default Page"
We had an issue where a user deleted their home page but did not have the permissions to select a new one. In order to address this in the future I think we can go in two directions:
1. limit ability to delete a default page to those permission levels that have access to "settings." "writer/publisher" definitely doesn't have that level as I logged in as the user in question.
2. don't allow anyone

[2016-03-04 15:01] nreckart commented on #208
I vote like I originally did. No deleting of any pages allowed by anyone ever.

[2016-03-04 15:05] dmolsen commented on #208
![ ](http://i.giphy.com/FmijXcVr53g2I.gif)

[2016-03-10 16:15] dmolsen opened #209 "Add GeoIP Support"
For Admissions we have a need to customize content on select pages based on a user's location. I think the [geocoder gem](http://www.rubygeocoder.com) fits our needs. We would be using the "[geocode by IP address](https://github.com/alexreisner/geocoder#request-geocoding-by-ip-address)" feature. By default this uses the [FreeGeoIP](https://github.com/alexreisner/geocoder#freegeoip-freegeoip) servi

[2016-03-17 18:01] #208 closed, assigned to nobody

[2016-03-31 17:48] adamjohnson opened #210 "Use semantic tags for bold and italic in Mercury"
## Steps to reproduce the issue
1. Log in to CleanSlate.
2. Go to a page and enter some text. Make parts bold and other parts italic.
3. Click to view the HTML of that editable region.
## Results

Bold tags use `<b>` and italic tags use `<i>`.
## Expected results

Bold tags should use `<strong>` and italic tags should use `<em>` as these are more semantic.

This came from the [Office of Accessibil

[2016-04-19 14:00] jasonmarkle opened #211 "Add support for by="alternate_name""
There is current support for by="name | slug | created_at | updated_at | published_at | sort_order |  template_name" but "alternate_name" is unsupported.

Due to things I've worked on, I'm partial to the idea of support for alternate_name, as I want to display the person's name in a directory listing but still sort by last name (which would be the alternate name in this case)".  I'm hopping that t

[2016-06-02 14:13] dmolsen opened #212 "Import Graduate Education Majors"
Nathan-

Please bulk import the Graduate Education Majors. Undergrad and Grad majors are in the same bucket in Gather Content. The difference between the two is the template name. The graduate majors are using "Graduate Major Template." I know that that is a new feature for your import script. The root page ID for the import is 16046.

It looks like Gather Content rolled out a new version of their

[2016-06-02 14:35] dmolsen commented on #212
I _think_ the template is `academics__majors` but it looks like it has the undergrad fields instead of grad. Not sure how Dustin will want to tweak that.

[2016-06-13 13:46] jasonmarkle opened #213 "Add sever side support for GA async filtering"
Right now, GA will effect page load by a small percentage. In order to alleviate that we could implement `ModPagespeedEnableFilters make_google_analytics_async` on the server.

[Make Google Analytics Asynchronous](https://developers.google.com/speed/pagespeed/module/filter-make-google-analytics-async)

[2016-07-06 18:34] adamglenn opened #214 "Radius snippet cannot be replaced..."
If I insert a radius snippet in an editable region, it works. But then when I want to change it to something else and replace it, it keeps the original one.

[2016-07-20 15:24] dustinmazon opened #215 "Ability to Set Site Archive Date and Time"
## Reason for Site Archive Date and Time

There are a number of event and marketing sites that have been created in the past that have a know end of life. For example:
- http://regional.soiljudging.wvu.edu/
- http://tournament.blogs.wvu.edu/
- http://landgrant150.wvu.edu/
- http://lawschoolcoalconference.event.wvu.edu/
- http://shareyourthoughts.blogs.wvu.edu/home/2010/4/6/share-your-condolences
-

[2016-08-16 17:13] jasonmarkle opened #216 "Allow for relative link paths in nav item creation"
When creating links on the nav menu, you cannot use a relative path. In turn, this means that you cannot create links that will go to specific sections.

This could be alleviated if we were to adjust the Web Address field so that it accepts relative paths or an alternate format under the internal links modal in the page builder. Open to additional ideas and comments.

[2016-08-19 15:53] sarahgibbons opened #217 "Alternative name option for articles"
The tag for using the alternative name, but for articles:
`<r:page:alternate_name />`

![screen shot 2016-08-19 at 11 50 35 am](https://cloud.githubusercontent.com/assets/19209420/17815677/5d4d3c72-6603-11e6-923d-c896ed412b8a.png)

I realize this is a low priority, but it would be helpful for front page sections pulling in news articles with really long titles.

[2016-08-19 18:09] nreckart commented on #217
You can technically do this already. An article is basically the same as a page, but there are some additional tags available for articles. So, you can actually use `<r:page:alternate_name />` for an article; however, you probably wouldn't want to do that in practice, because it would require every article to have an 'alternate_name'. If one doesn't have an 'alternate_name', nothing would be outpu

[2016-08-22 14:51] sarahgibbons commented on #217
That worked! Thanks so much for your help!

[2016-08-22 14:51] #217 closed, assigned to nobody

[2016-10-21 13:22] #212 closed, assigned to nobody

[2016-10-21 13:40] dmolsen opened #218 "is_site_default and is_not_site_default Tags"
I currently have a bad hack in the Undergraduate Admissions theme to modify the title tag and canonical tag. It's using the page title to determine what page is the default page for the site and modifying content. It looks like:

[code]

which outputs:

[code]

I'd like to suggest these as a change to the Super Theme. There's no real reason to have "Home" in the title of the home page. It just muc

[2016-10-21 14:28] dmolsen opened #219 "Add Support for Google Tag Manager"
I'm unsure how we'd like to handle adding support for Google Tag Manager. It requires two separate snippets of JS to work, one in the `<head>` and one in `<body>`. That's in addition to the tag manager container ID. Is this something where we can have explicit tags to include the relevant code? Maybe something like:

[code]

This would leave it up to the theme developers to put it where it makes s

[2016-10-21 15:11] jasonmarkle opened #220 "Add a tag to inline a stylesheets content directly into html."
This is a request to add a tag that will take the css from a stylesheet and inline it's content directly into a place within an html document using a radius tag (ie. `<r:inline_stylesheet name="foo.css" />`)

Unfortunately `@import` works the same way as <link> does, and blocks rendering of the page.  Currently this is being alleviated with a JS function that loads the primary styles.css file asyn

[2016-10-24 17:30] jasonmarkle opened #221 "Replace function does not replace files"
Currently there is a bug with the replace function in CleanSlate, where replacing the file doesn't actually replace the file, but leaves the old file and place forcing you to have to upload the replacement as a new file.

We are aware of the bug and currently working on it, this issue will be closed upon implementation of a fix.

[2016-10-24 19:43] nreckart commented on #220
@jasonmarkle Do you want the CSS wrapped in `<style></style>` tags when output? Or just the CSS and you can wrap it in whatever you want?

[2016-10-25 12:52] jasonmarkle commented on #220
@nreckart just the css and then it can be wrapped by the user in whatever. That way we can still manually output things like the hero image with additional css in the `<style>` tag as well.

[2016-10-25 17:21] architarious commented on #214
Just ran into this problem a few minutes ago. It seems to be triggered by a radius tag error. It's also crazy frustrating if it's on a high level page.

In my case, I was calling a tag in the wrong place. ie, I was converting a module into a snippet and accidentally forgot to change a couple of `<r:editable_region>` tags into `<r:page:content>` tags.

The only way I could find to get around this w

[2016-10-25 17:24] nreckart commented on #220
Implemented the `<r:stylesheet_content>` tag.

Usage:

[code]

[2016-10-25 17:28] #220 closed, assigned to nobody

[2016-10-25 17:28] nreckart commented on #218
Implemented `<r:page:if_site_default>` and `<r:page:unless_site_default>`

Usage:

[code]

[2016-10-25 17:31] #218 closed, assigned to nobody

[2016-10-25 17:32] nreckart commented on #214
@architarious Can you provide exact steps to reproduce this issue?

[2016-11-29 15:40] jasonmarkle opened #222 "Adjust nomenclature for the publish functions."
Currently there are two publish functions. One in the page tree, per page; one in the wysiwyg.

On the page tree, the publish function allows you to publish the page itself to the web and thus make it available to users at the defined page path in the page properties.

The publish function in the wysiwyg simply publishes content to the page you are working on, which is not the same as the above.

[2016-12-05 18:49] #207 closed, assigned to nreckart

[2016-12-06 16:57] TatsuJohnson opened #223 "Mercury Formatting Issue for text without HTML Tags"
Issue:
Text that have been published in CleanSlate without proper HTML tags output a string that is wrapped in a div. This makes it hard/impossible to style for. Ideally, publishers will always use HTML tags, but it doesn't always happen.

Example:
http://www.law.wvu.edu/news/2016/07/01/wvu-law-lcld

Suggested solution:
Maybe make it so that text is automatically put in "p" tag instead of a div. I

[2016-12-08 13:55] jasonmarkle commented on #223
@TatsuJohnson can you provide you specs and how to replicate?

[2017-01-30 21:16] adamglenn opened #224 "Associate image with page/post..."
I want the user to be able to browse/select an image in a page's properties and have that image be associated with the page/post. This can then be used when looping through pages and featuring them elsewhere on the site. For example, when using featurettes: http://supertheme.sandbox.wvu.edu/patterns/wvu-featurettes

Right now I am having the user either label an image with the page slug to create

[2017-01-30 21:25] adamglenn commented on #224
One other thing. I need to be able to access the URL of the image directly and at different sizes, not as an <img> tag. I want to be able to pull in as CSS background, <img>, and meta data for sharing on social media.

[2017-02-07 19:48] adamglenn opened #225 "Responsive video snippet..."
Can we get a snippet that accepts a YouTube URL and outputs the standard Youtube embed iframe (with no height or width) wrapped in a div with class "u-wvu-embed-container"? Also would be cool to have options such as "allowfulscreen" and whatever other standard parameters YouTube allows.

[2017-02-07 20:11] nreckart commented on #225
Isn't this already possible? Insert "Media", choose "Video", paste a YouTube URL...

This results in the following output:

[code]

[2017-02-07 20:19] adamglenn commented on #225
Not that I know of, in order to have the video be responsive the class has to be applied to another div that wraps the iframe and there can be no height or width on the iframe. Unless you know a better way to do responsive videos. The media option applies class to iframe itself and adds a height + width.

[2017-02-07 20:22] nreckart commented on #225
Ok, then I'd say the existing mechanism should be modified instead of creating a separate snippet. Having multiple ways to insert a YouTube videos sounds confusing. Consider it on the list.

[2017-04-10 15:23] adamglenn opened #226 "Internal link content..."
If I am looping through a set of pages, can there be a way to check if one of the pages is an internal link, then, if it is grab content from that internal page? For example, I have a pattern that loops through a set of child pages and grabs a thumbnail image for each page, then displays the thumbnail in a list. But internal links have no content regions, so there will be a blank spot for the thum

[2017-04-13 13:14] jasonmarkle opened #227 "Labels in CleanSlate are concatenating in to a single string"
Existing content with labels in CleanSlate are concatenating those labels in the page properties. If an edit is made, and that concatenation is overlooked by the publisher, it wrecks their content if those labels are being utilized in ways to pull content.

## Steps to reproduce the issue

  1. Log in to CleanSlate.
  1. Go to a site like WVU Today (their PT is who reported this initially).
  1. U

[2017-04-13 13:51] adamglenn opened #228 "Calendar Feed snippet seems to be broken..."
When I past in the feed and click "Insert" nothing happens.

[2017-04-13 14:25] adamglenn commented on #226
An alternative solution to this would be to enable custom data for an internal link. Then maybe I could add a thumbnail or a page ID to grab content?

[2017-04-13 14:28] jasonmarkle opened #229 "Blog archives are generating a .0 after dates (global issue)"
Just see the following. Not sure how I could replicate this outside of just making a new blog somewhere.

Head over to one of these news areas and then click on any of the archive links:

[http://eberly.wvu.edu/news-events/eberly-news](http://eberly.wvu.edu/news-events/eberly-news)
[http://www.statler.wvu.edu/news](http://www.statler.wvu.edu/news)

[2017-04-13 14:28] nreckart commented on #227
Fix has been deployed. Fixed in wvuweb/cleanslate@474dcb24d4c1184.

[2017-04-13 14:28] #227 closed, assigned to nreckart

[2017-04-13 14:38] nreckart commented on #229
Fix has been deployed. Fixed in wvuweb/cleanslate@146f7240758d5d.

[2017-04-13 14:38] #229 closed, assigned to nreckart

[2017-04-13 15:02] nreckart commented on #228
Fix and deployed in wvuweb/cleanslate@de0dbb70edb86c.

[2017-04-13 15:02] #228 closed, assigned to nobody

[2017-04-13 15:40] nreckart commented on #226
@adamglenn There is currently no way to determine if a page is an internal link from within a template. Would it be possible to build this thumbnail list using a label to mark all of the relevant pages and something like `<r:root><r:descendants labels="lawn-nav">...` as a work around for the time being?

[2017-04-18 17:47] nreckart commented on #228
Editing an existing calendar snippet was broken after the the updates in wvuweb/cleanslate@de0dbb7, throwing an invalid URL error. Fixed in wvuweb/cleanslate@d05977a8c5b1.

[2017-04-19 17:25] jasonmarkle opened #230 "Pages are returning a 404 not found without the error page on existing pages"
Navigate to the NRCCE site.
Go to pages.
Under the media page there is a child page called "NRCCE in News".
View the page

You get a 404

Ideally you would see the content of the page.

This is happening on some other pages as well according to the PT up there.
You can access the page via edit mode and it's just a plain backpage. Also no data in any of the custom data fields.

[2017-04-19 17:48] nreckart commented on #230
/media/* does not appear to be a valid URL for CleanSlate pages. As far as I can tell it isn't specifically reserved for anything by the app. I'm guessing it's getting intercepted by Apache somewhere. Haven't been able to determine where/how yet.

For now, you can fix it by changing the permalink/slug of the "Media" page to something other than "media". I changed it to "in-media" and everything wo

[2017-04-19 18:39] nreckart commented on #230
Should be fixed now. Something in the app was indeed hijacking '/media/*' URLs. I changed the NRCEE Media page slug back to 'media'.

[2017-04-19 18:39] #230 closed, assigned to nobody

[2017-05-10 15:42] nreckart commented on #226
Did you find a solution for this?

Custom data is (should be) supported for internal link pages, but since they have no template associated with them, you'd have to define the attribute(s) in the theme config.yml file with the `custom_data_attributes` key. This would make them available to all pages in the site.

[2017-05-10 15:45] nreckart commented on #225
Can someone provide a list of the all the options we want to support for the YouTube embed, such as "allowfulscreen" mentioned above?

[2017-05-10 15:52] zeroedin commented on #225
https://developers.google.com/youtube/player_parameters#Parameters

Assuming you'd want to support all of these.  Below are the ones that might be preset or static.

`cc_load_policy` might just be static as `1` for accessibility.

`autoplay` should prolly always be `0` but could be made the case for just a preset and overridden.

`hl` prolly should be preset `en` but overridable for the campus in

[2017-05-12 18:21] #221 closed, assigned to nobody

[2017-06-19 18:22] adamglenn opened #231 "Page ordering for r:descendants"
I don’t think either sort_order or published_at work correctly (or at least how I think it is supposed to work). For example, on this page: http://www.events.wvu.edu/home-test I have a list of events set to display by published_date, but they are not ordered by the published date. The Rick Springfield page was published last, but is displayed 3rd.

It uses this pattern: https://bitbucket.org/wvudi

[2017-06-19 18:26] nreckart commented on #231
Sorting by sort_order is not going to work for pages with different parents.

[2017-06-20 20:16] adamglenn opened #232 "FAQ snippet..."
The FAQ "bookmark" adds an empty anchor ```<a name="whatever-the-name-is"></a>```. This is an accessibility error. It should assign an ID to the header that contains the question.

[2017-06-23 15:04] nreckart commented on #232
This should be fixed. @adamglenn can you verify?

[2017-07-20 17:30] nreckart opened #233 "File looping does not sort correctly when <r:each> is used"
[code]

The example above does not work as expected. The sorting by created_at is ignored in the final result. The `<r:files>` tag executes the query with the correct created_at sorting, but then the `<r:each>` tag performs the query again, without the sorting.

The following example will work as expected because `<r:files:each>` is used and will only execute the query once.

[code]

[2017-07-20 17:33] #232 closed, assigned to nobody

[2017-07-20 17:38] nreckart commented on #231
@adamglenn I bet this is related to #233. Instead of splitting the `<r:children>` and `<r:each>`, try using `<r:children:each>` as follows:

[code]

The same would apply to any of the page looping tags: children, descendants, siblings, ancestors

[2017-08-31 14:13] adamglenn opened #234 "Custom Custom Data..."
Would it be possible for certain custom data attributes to be in the form of a drop-down menu with predefined options, or as a check box, rather than a text field? That would be really cool.

[2017-09-13 15:31] jasonmarkle opened #235 "Snippet to add audio that also requires a transcript"
So it seems like audio stuff is becoming more of a thing. We should probably just make this into a snippet that will spit out the appropriate code so that content editors won't have to worry about accessibility.

So, you pull the audio snippet into a region and the modal will have a required `source` and `transcript` field.

The source will be added to the `audio` selector in the code and the tran

[2017-09-15 18:05] nreckart commented on #234
Sure, anything is possible. It would make the things more complicated. Where and how would the predefined options be defined? Where would the type of field (text box, drop-down, check-box, etc.) be defined? And you'd probably what this to be available for all types of custom data (page, site, and theme), correct?

[2017-09-15 18:09] nreckart commented on #235
Sounds reasonable. What is the `source` field? Would it refer to a site file/asset or is it a URL? If it's a site asset, are we promoting CleanSlate as a media source? An HTML example of the final output would come in handy.

[2017-09-25 13:47] jasonmarkle commented on #235
Good question. Maybe we give the ability to either link to a file or url in the modal so the user can decide where the source file lives. Maybe they have designated audio hosting in the theme via a public folder or a third party site, or they can upload it to cleanslate if it's under a certain file size that we define?

Would promoting it as a media source for audio create performance issues that

[2017-09-28 03:04] nreckart commented on #211
It is now possible to sort pages by "alternate_name" as well as by "title" and "meta_description". Not sure how useful that last one will be, but it's now possible.

[2017-09-28 03:04] #211 closed, assigned to nobody

[2017-09-28 03:08] nreckart commented on #233
Should be fixed with wvuweb/cleanslate@d4b3532ac212e0e999f39581faba365cf972b77c

[2017-09-28 03:08] #233 closed, assigned to nobody

[2017-09-28 03:11] nreckart commented on #231
@adamglenn

The sorting should now work as originally implemented with `<r:each>` split out, as of wvuweb/cleanslate@d4b3532ac212e0e999f39581faba365cf972b77c.

[2017-09-28 03:11] #231 closed, assigned to nobody

[2017-11-09 22:00] adamjohnson opened #236 "Add the site owner to the "Site Overview" page"
![list-site-owner-cleanslate](https://user-images.githubusercontent.com/575865/32631533-8c8a7f2e-c56e-11e7-9fd0-cd663492e307.png)

One of the main ["Request CleanSlate Help"](https://urwvu.wufoo.com/forms/m15c3h181kox77o/) submission topics since moving to CAS has been about users wanting access to a site. Publishers and writers cannot see anything in "Settings", so displaying the Site Owner on th

[2017-11-09 22:09] adamjohnson opened #237 "Remove Statuspage link in CleanSlate Footer"
![system-status](https://user-images.githubusercontent.com/575865/32632024-0832ae52-c570-11e7-8013-0ccf4400ec45.png)

## Steps to reproduce the issue

  1. Log in to CleanSlate.
  1. The link is in the footer of every page in the admin.

## Results

https://wvu-ur-digital.statuspage.io/ leads to a 404.

## Expected results

We should remove it because we're no longer using Statuspage.

[2017-11-10 21:28] #237 closed, assigned to nobody

[2017-11-10 21:28] #236 closed, assigned to nobody

[2018-02-08 16:39] adamjohnson opened #238 "Publish > Unpublish > Publish content bug"
## Steps to reproduce the issue

  1. Go to a page, publish some content.
  1. Go back to Pages in CleanSlate and hit "Unpublish" to the page from step 1.
  1. Edit the same page. Add some new content. Save (but do not publish) this page.
  1. Return to Pages in CleanSlate and hit "Publish".

## Results

The content on the page shows what was last published.

## Expected results

Since we added ne

[2018-02-08 16:54] nreckart commented on #238
@adamjohnson You are correct. Publishing a page from the site tree admin view only publishes the page, which basically means setting the published_at date. Publishing from within the editor publishes the content of the page, and in turn, the page itself.

Makes sense that they should behave the same. I'll look into it.

[2018-02-12 16:57] #238 closed, assigned to nreckart

[2018-03-15 15:58] dustinmazon commented on #38
**+1** @nreckart @adamjohnson Would you please consider adding a "Page Properties" link in the editors toolbar? I know this feature would greatly improve the speed of our workflow when making edits to pages. A lot of our sites use custom data fields and having access to these properties within the editor would keep us from having to bounce back and forth from the "Pages" section and then to the "E

[2018-03-15 16:14] nreckart commented on #38
The likelihood of this being implemented for the existing Mercury editor implementation is nil. A process and associated UI for managing custom page data will be considered with other, ongoing editor enhancement discussions.

[2018-05-01 17:04] architarious opened #239 "Publishing / unpublishing via the page manager deletes custom page data."
- Using the publish / unpublish function via the page manager will delete that pages custom page data.
- Publishing via the content editor doesn't reproduce this bug however.
- This bug didn't exist until fairly recently (within the last two weeks).
- Was able to reproduce this bug on multiple sites, including super-theme sites.

## Steps to reproduce the issue

1. Find a page with custom page dat

[2018-05-01 17:46] #239 closed, assigned to nreckart

[2018-05-01 17:47] nreckart commented on #239
This issue was introduced when moving to strong parameters in prep for updating the Rails framework a few weeks back.

[2018-06-19 14:30] adamglenn opened #240 "Labels keep merging..."
If I add multiple labels to a file, then go back to add/change the labels, the labels that were previously applied merge together into one. So whenever I have to add/change a new label, I have to go back and re-type all of the labels.

[2018-06-25 20:33] adamjohnson commented on #210
Update:

Nathan made a change to CleanSlate so that CleanSlate outputs `<strong>` and `<em>` tags instead of `<b>` and `<i>`. (couldn't find the relevant commit, someone help a brother out).

However, we just received a report from a user that says Chrome on Windows outputs `<b>` instead of `<strong>` when using the hotkey.

## Steps to reproduce the issue

  1. Use Windows. Log in to CleanSlate u

[2018-07-04 16:01] adamjohnson opened #241 "Add ability to add a class to a nested <ul> in r:site_menu"
## Steps to reproduce the issue

CleanSlate is currently able to detect and add a class to the top level `<li>`'s that have a sub-menu available via the `has_children_class` attribute ([docs](https://cleanslatecms.wvu.edu/how-to/theme-development/tag-index/r-site-menu) and #118).

I'm looking to be able to add a class to the **nested `<ul>`**. For example, if you have the following tag:

`<r:site_

[2018-07-06 15:31] #240 closed, assigned to nobody

[2018-07-06 15:31] #241 closed, assigned to nreckart

[2018-07-06 19:49] msmoirai opened #242 "gif Issue with Sizing in url"
## Steps to reproduce the issue

  1. Log in to CleanSlate.
  1. Selected media to add image to page.
  1. Choose image
  1. Upload File
  1. Add Files
  1. Selected the .gif I wanted to add
  1. Open
  1. Start Upload
  1. Closed Upload Files
  1.  Saw that the gif images appear broken
  1. Chose gif anyway
  1. Added alt text
  1. Insert Image

## Results

Gif image shows as if the multiple fram

[2018-07-06 19:59] adamjohnson commented on #242
Michelle, would you mind editing your issue to follow the format from our [Contribution guidelines](https://github.com/wvuweb/cleanslate-cms/blob/master/CONTRIBUTING.md)? This will help Nathan properly recreate your issue, step by step, and see exactly what you're seeing.

[2018-07-25 13:04] adamglenn commented on #224
Just checking in on this. I also have a modification to this request. I want the user to be able to associate more than one file. There should be a square thumbnail, a rectangular thumbnail, and a large background image. So 3 different "types" of images.

[2018-07-25 15:42] nreckart commented on #224
Can you provide a mockup of how/where you envision this working in the UI?

[2018-07-26 15:40] adamjohnson commented on #178
Closing this because it seems old and there's been no activity since 2015.

[2018-07-26 15:40] #178 closed, assigned to dmolsen

[2018-07-26 15:45] adamjohnson commented on #224
To me, this seems like it would be an image attribute (#234).

Basically, instead of Custom Data having `text` as the only type option, you would also have `asset`/`image`, `select`, `checkbox`, `radio`, or any of [the available input types](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input#Form_%3Cinput%3E_types).

Should this discussion continue in #234?

[2018-07-26 15:51] adamjohnson commented on #234
Perhaps something like this in `config.yml`, and template frontmatter:

[code]
If `type` isn't defined, it defaults to `text`.

These would be displayed in Page Properties > Custom Data.

[2018-07-27 20:04] nreckart commented on #224
#234 would probably be the proper way to handle it.

[2018-07-27 20:09] nreckart commented on #234
@adamjohnson That would seem like a reasonable place to start. I'll see if I can get a little prototype going in the next week or so.

I have a feeling we're going to get into modal hell...

[2018-07-27 20:27] adamjohnson commented on #234
I added `title` and `description` keys (see comment above). Right now our attributes get printed out (eg: `google_site_verification`) without any further instructions or description as to what that particular box does.

Here's how it might look:

[code]

You could also put the description into a tooltip (hover over the `?`).

When `title` isn't defined, it defaults to the attribute name.
When `des

[2018-07-27 20:46] nreckart commented on #234
@adamjohnson I tweaked your formatting a bit in your code example above.

[2018-08-09 14:50] zeroedin opened #243 "Page filtering sort columns"
## Steps to reproduce the issue

  1. Log in to CleanSlate.
  1. Click Pages -> Advanced Filter
  1. Filter by any options.

## Results

Pages return ordered by Last Edited.

## Expected results

It would be super awesome if pages could be returned with Created On / Published On column, and also sortable on all columns [Except page path and Labels].

Slightly unrelated, but im not sure Page path i

[2018-08-09 15:29] nreckart commented on #243
Page path is needed because there are sites with 50 pages named exactly the same. I believe the path was added for that exact reason, by request. The path lengths can get insane, so moving it out of the grid and maybe displaying it below the column data, full width, would help.

[2018-09-26 17:33] architarious commented on #234
The implementation of this feature in the prof tech meeting looked pretty sweet. I especially like that you can declare different types of text data.

One thing that would take this to the next level would be to have the ability to configure a text-field for labels/tags so that it can auto-suggest ones that are already in use, similar to what's already on the page/file properties dialogues.

I'm c

[2018-09-27 16:23] architarious opened #244 "Digital measures integration with cleanslate"
## Problem explanation

Most faculty members at WVU are required to update and maintain profiles on [Digital Measures](http://www.digitalmeasures.com/) and they also have other faculty profiles on multiple different sites throughout the university, via college faculty pages, experts database, research center websites, etc.  All of this content is typically the same and is a logistical mess in rega

[2018-10-24 22:12] architarious opened #245 "Support for <r:article:template:name>"
## Suggestion

We currently have the ability to use tags like `<r:page:template:name />` to output the name of the pages template, however this doesn't work on blog articles.

It would be nice if this functionality was carried over to articles as `<r:article:template:name />`.

## Use Case

At the moment, the most efficient way to style or filter different kinds of articles within a blog index is

[2018-10-25 14:17] nreckart commented on #245
Since articles are really just normal pages with some additional features/behaviors, you can just use `<r:page:teamplate:name />` within the articles context. Same goes for most, if not all, of the other `<r:page:*>` tags.

[2018-11-05 15:57] architarious commented on #245
Okay, yeah that worked. Thanks!

[2018-11-27 23:47] #245 closed, assigned to nobody

[2019-01-11 21:46] adamjohnson commented on #87
@nreckart Ping, this happens in the Flexslider snippet too.

[2019-01-25 15:02] adamglenn opened #246 "Dependent custom data...."
In the page custom data, how easy would it be to only display certain options depending on what the user selects. For example, if I select “Hero” from a dropdown to insert a Hero content chunk in a page, a checkbox would then pop up giving me the option to align it to the right or something? Or if I were to select "Featurettes" an option would pop up for "Sort Order", etc.? This would be so cooooo

[2019-01-25 15:13] nreckart commented on #246
Not easy but not crazy difficult. Linking things up in the config would probably be the trickiest part. Could get ugly. Are you asking for individual options within a select box to result in different behavior? Or just if field A has a value (any value) selected, show field B?

[2019-02-04 14:09] adamglenn opened #247 "New default custom data attributes don't work until you re-save the page settings..."
When you added the new data types for custom data attributes, the "default" option doesn't take unless, after you create the page, you open up the page properties and save them. Can this be made to work without having to go back and re-save? For example, I have the "slots" that you can use to insert patterns into a page template in the Super Theme. By default, I have "hero" to display in "slot_01"

[2019-02-04 14:11] adamglenn opened #248 "Make Custom Page Data types available for Custom Site Data"
I like what you did for the new custom data types for pages. Can this be made to work the same for site data?

[2019-02-05 17:18] dustinmazon opened #249 "Ability to apply an attribute to links in settings."
##  Issue: A 2.4.4 Link Purpose (In Context)
Many sites including the sites I work on in CleanSlate encounter the following accessibility issue:

### Description of this issue:
The same link text is used for links going to different destinations. Users might not know the difference if they are not somehow explained.

### How to fix it:
Make sure links are distinguishable by just their link texts o

[2019-03-01 15:17] bokster commented on #210
Many users are copying and pasting from WORD and this results in `<b>` and `<i>` tags on the site. Is it possible to automagically convert `<b>` and `<i>` to `<strong>` and `<em>` when they hit publish?

[2019-04-12 18:15] adamjohnson commented on #249
I would say we have roughly 30 sites in Siteimprove with scores below 70% (the industry average). Our goal pre-OCR review is to have all of the sites we track in Siteimprove above 70%.

A theme for these 30 sites is the issue Dustin describes, "Link text used for multiple different destinations." There is no easy way to fix this from the UI when we're talking about auto generated navigations (`r:s

[2019-04-15 15:05] adamglenn opened #250 "Custom data attributes default value doesn't take until you re-save..."
When I set a default value to a custom data attribute, I have to go into the page properties after the page is created, then hit Save for the value to actually take. For example, in the SuperTheme I have a Profile template, with the attribute slot_1 set to the 'profile' component. But the actual profile component doesn't show until you go back in and save the properties. It would be nice if whatev

[2019-05-14 14:29] jja006 commented on #213
Closing as this was marked as invalid.

[2019-05-14 14:29] #213 closed, assigned to nobody

[2019-05-14 14:48] jja006 commented on #128
Nathan, did you want to log anything here and close this? Since we moved onto AWS and you were able to move to and past rails 4 some time ago. Thanks!

[2019-05-14 14:55] #128 closed, assigned to jja006

[2019-05-14 15:04] jja006 commented on #99
We addressed the issue with managing the SSL cert for this by using AWS ACM and a specific Cloudfront distro for sites with the requirement for password protected pages.

We're using a wild-card cert in ACM with multiple wild-card names assigned, and the specific distro was also needed to handle caching and headers as needed for the password protected behavior.

ITS also implemented some new optio

[2019-05-14 15:10] nreckart commented on #99
There is an option in site settings that must be enabled for this to work for a site, in addition to the site's domain being added to the specific CloudFront distro setup for this purpose.

[2019-05-14 15:10] #99 closed

[2019-05-14 15:21] #96 closed

[2019-05-14 20:34] adamjohnson commented on #11
Closing this because I can't see Markdown coming to Mercury.

There is some chatter of [Markdown coming into Froala](https://wysiwyg-editor-roadmap.froala.com/public/ideas/3676).

[2019-05-14 20:34] #11 closed

[2019-05-14 20:46] adamjohnson commented on #27
I can't find any examples of the `US-ASCII` charset being thrown anymore. Closing this issue.

[2019-05-14 20:46] #27 closed

[2019-05-14 21:04] adamjohnson commented on #67
This discussion seems to have fizzled out. I'm closing this issue.

[2019-05-14 21:04] #67 closed

[2019-05-14 21:07] adamjohnson commented on #72
It seems like Manage > Messages covers this.

[2019-05-14 21:07] #72 closed

[2019-05-14 21:25] adamjohnson commented on #143
Documentation is an ongoing need. I'm going to close this issue in favor of opening issues related to documenting specific tags.

[2019-05-14 21:25] #143 closed, assigned to nreckart

[2019-05-14 21:35] adamjohnson commented on #169
Closing this because a page template (like `blog_article_external.html`) handles this adequately.

[2019-05-14 21:35] #169 closed, assigned to nreckart

[2019-05-14 21:43] adamjohnson commented on #223
This is a duplicate of #2.

FYI, to enforce starting with a `<p>` tag, you could do something like this:

[code]

[2019-05-14 21:43] #223 closed, assigned to nobody

[2019-05-14 21:48] adamjohnson commented on #234
This has been implemented:

https://cleanslatecms.wvu.edu/how-to/theme-development/custom-data/options

There's still room for expanded options (like a `label` type or `image` type). That said, we can discuss those in specific issues. Thanks for your hard work on this, Nathan.

[2019-05-14 21:48] #234 closed, assigned to nobody

[2019-05-14 21:51] adamjohnson commented on #226
I'm closing this issue. @adamglenn feel free to open it back up if you feel it's needed.

[2019-05-14 21:51] #226 closed, assigned to nobody

[2019-05-14 21:55] adamjohnson commented on #250
@adamglenn is this issue a duplicate of #247?

[2019-05-28 20:10] adamglenn commented on #250
Yes, it is. I do not remember creating the other issue LOL.

[2019-05-28 20:10] #250 closed, assigned to nreckart

[2019-06-12 15:28] TatsuJohnson opened #251 "Internal pages not getting active class added to them in navigation"
In a navigation, a page that is an internal link will not get the "active" class passed to it. This make it hard to stylize the link to show if it is the active page on a site or not.

[2019-06-12 15:49] adamjohnson commented on #251
Tatsu, thanks for reporting this issue. Would you reformat your issue to follow the [contribution guidelines](https://github.com/wvuweb/cleanslate-cms/blob/master/CONTRIBUTING.md)? Doing this will help us troubleshoot your issue in a more timely manner.

Also please include what kind of navigation you're referring to (`r:site_menu`, `r:sub_menu` ...). Once you've made the edits, kindly follow up w

[2019-06-12 16:07] adamjohnson commented on #251
I [can confirm](https://aj.sandbox.wvu.edu/backpage-1?1#active-test) that `active_class` works with `r:site_menu` when rendered within a Radius Snippet:

[code]

[2019-06-12 16:14] TatsuJohnson commented on #251
## Steps to reproduce the issue

1. View a page in CleanSlate that has an internal link as part of its navigation bar.
2. See if there are active styles that will show the user which top nav page they are using.  If so, continue to #3.
3. Click on a page in a navigation bar that is an internal link.

## Results

It does not display the same style for the internal link to identify where the user is

[2019-06-12 17:55] nreckart commented on #251
Issue has been fixed and deployed. @TatsuJohnson please confirm and close the issue accordingly.

[2019-06-12 18:16] #251 closed, assigned to nobody

[2019-06-12 18:16] TatsuJohnson commented on #251
Thanks!

[2019-08-12 15:16] adamjohnson opened #252 "r:breadcrumbs tag should output link attributes"
## Steps to reproduce the issue

  1. Visit the [Downtown Campus Library](https://libraries.sandbox.wvu.edu/libraries/downtown) or [Bennett Tower Gallery - Housing](https://libraries.sandbox.wvu.edu/libraries/downtown) pages.
    a) NOTE: Both of these pages have the requisite link attributes specified via Page Properties ([Libraries Pages](https://cleanslate.wvu.edu/sites/852/pages) and [Housing

[2019-08-12 15:23] adamjohnson commented on #252
Relevant commits:

wvuweb/cleanslate@589e7247c38868c0b4e03f2d423d7db0e24b0684

wvuweb/cleanslate@cc3ae3126743f59df12e1027cb408f08015c5fd3

wvuweb/cleanslate@6b9d3d7e4319c18e150d49281677d2cd82986209

[2019-08-13 17:21] adamglenn opened #253 "r:breadcrumb should have an attribute to apply classes to links"
I want to be able to add utility classes to links in breadcrumbs to make it easier to use with new design system. so something like `<r:breadcrumbs link_class="text-white" />`.

[2019-08-13 17:22] adamglenn commented on #253
Also, I assume this would allow me to pass in a variable, so `<r:breadcrumbs link_class="{$breadcrumbLinkColor}" />`.

[2019-08-13 17:39] nreckart commented on #253
Would the class be applied to the `<a>` or the `<li>`?

[2019-08-13 19:27] adamglenn commented on #253
The `<a>`.

[2019-08-13 20:01] nreckart commented on #252
The custom link attributes should now be applied to breadcrumb links as they are for the other menu tags. `include_link_ids` defaults to false, so templates will need to be updated in order for custom id attributes to be applied to the breadcrumb links.

Example:

`<r:breadcrumbs ul_id="main-breadcrumbs" ul_class="breadcrumb" include_link_ids="true" />`

[2019-08-13 20:03] nreckart commented on #253
`link_class` is now a valid option for `<r:breadcrumbs>`

Example:
`<r:breadcrumbs ul_id="fancycrumbs" ul_class="breadcrumb" " link_class="super-fancy" />`

[2019-08-13 20:34] adamjohnson commented on #252
Youdaman! 💯

I updated the docs for [breadcrumbs](https://cleanslatecms.wvu.edu/how-to/theme-development/tag-index/r-breadcrumbs) on CleanSlateCMS.

[2019-08-13 20:34] #252 closed, assigned to nreckart

[2019-08-13 20:42] adamjohnson commented on #253
I've added `link_class` to the [docs for `r:breadcrumbs`](https://cleanslatecms.wvu.edu/how-to/theme-development/tag-index/r-breadcrumbs) on CleanSlateCMS.

AG: When you confirm this is working, kindly close this issue.

[2019-08-14 14:35] adamglenn commented on #253
This actually doesn't work. What it does is apply an attribute of `link_class` to the breadcrumb html i.e. `<a link_class="whatever-my-class-is">`. Should output `<a class="whatever-my-class-is">`.

[2019-08-19 18:54] adamglenn opened #254 "Random Image snippet appears not to be working..."
On the Talent and Culture site, Appreciation Across Campus page, the user has inserted a random image snippet, selected the label for 'breakfast' (which has been applied to 2 images) but nothing shows.

https://cleanslate.wvu.edu/sites/808/pages/90661/editor

[2019-08-19 20:02] nreckart commented on #254
There was a 'Breakfast' label also, which was assigned to nothing and I think it was confusing things within the snippet. I deleted the unused 'Breakfast' label, and it seems to work now.

[2019-08-19 20:05] nreckart commented on #253
@adamglenn This should be fixed. Can you verify and close?

[2019-10-09 14:58] cherisealeen opened #255 "Unpublish/Publish seems to be "stuck" for certain pages"
We recently unpublished a bunch of child pages under the IT Services - Old parent category. I was going through all the child pages yesterday to make sure they are excluded from navigation and search engines and noticed that some were mysteriously listed as "published" even though they had been unpublished a while ago. When I would click "Unpublish" to unpublish them again, the success notificatio

[2019-10-09 15:48] nreckart commented on #255
@cherisealeen All of the pages in question here appear to be external link pages, not content pages. They simply redirect to whatever URL they are linked to and are essentially always published.

The issue here is with the UI. The publish/unpublish action should not be displayed for external link pages, nor should the "less than a minute ago". We will look into fixing this, but for now, if you rea

[2019-10-09 18:27] cherisealeen commented on #255
That makes total sense.

Thanks for your help!

[2019-10-09 18:27] #255 closed, assigned to nobody

[2019-10-14 18:55] adamjohnson commented on #254
@adamglenn is this issue resolved? If so, kindly close it. Thank you.

[2019-11-13 20:39] adamjohnson opened #256 "Getting tags/labels dynamically from custom page/site data doesn't work"
## Steps to reproduce the issue

The goal is the be able to specify tags for a page/blog article in the CleanSlate UI. Consider the following code:

[code]

This code can be found on [my sandbox site](https://cleanslate.wvu.edu/sites/5/pages). I use the code above on the [Content Test 2](https://cleanslate.wvu.edu/sites/5/pages/4628/editor) page in the sidebar in a Radius Snippet.

I'm trying to s

[2019-11-13 21:27] nreckart commented on #256
The custom data you are trying to used is assigned to the 'Content Test 2' page; however, you then switch to the blog page via `<r:get_page id="1176">`, which has no value for the `alternate_url` custom data field. Everything with a `<r:get_page_id>` tag is executed from the context of the page retrieved.

For this to behave as you would like, you'll need to assign the 'alternate_url' custom data

[2019-11-22 23:00] adamjohnson commented on #256
I added this as a FAQ to our [Blog page](https://cleanslatecms.wvu.edu/how-to/theme-development/blog-templates#labels-via-custom-data) on CleanSlate CMS.

Thanks again.

[2019-11-22 23:00] #256 closed, assigned to nreckart

[2019-12-12 21:27] adamjohnson opened #257 "Make CleanSlate images display sharply on higher density displays (srcset)"
Many laptops and screens these days have pixel display densities greater than one. For example, a Macbook Pro's retina display has a display density of [around 2.2x](https://pixensity.com/search/?search=macbook). My personal Dell XPS 13 has a display density of [somewhere between 1.6x-3.3x](https://pixensity.com/search/?search=xps%2013).

When viewing images inserted via Mercury in CleanSlate on a

[2019-12-13 20:24] nreckart commented on #257
Sounds like a can of worms. More discussion would be needed to determine exactly how and when something like this could be applied.

[2019-12-16 15:45] adamjohnson commented on #257
What are some of your questions?

[2019-12-16 18:13] nreckart commented on #257
Reread it and it doesn't seem so bad now. So we'd always just be doubling the height and width of the image?

[2019-12-17 02:02] adamjohnson commented on #257
Yes*

`*` As long as the dimensions of the original image can be doubled. Aka, if you insert a 300x300 image onto the page, then 2x would be 600x600 BUT the original image has to be 600x600 or larger.

If the image dimensions cannot be doubled, do no fancy `srcset`ing.

[2020-01-16 22:32] rebecca-patton commented on #257
Any news on whether this is doable? I would love to see this happen!

[2020-04-27 20:12] adamjohnson opened #258 "Writers can see the "Delete Page" button in Pages, but don't have access to delete pages."
I gave someone access to a site as a Writer. I watched them create several pages. At one point, they messed up and wanted to delete a page. When they went to delete a page, they got a "Request failed (error)" and it left them confused.

## Steps to reproduce the issue

  1. Log in to CleanSlate as a Writer (or "Act as" a user with Writer permissions).
    * If you're looking for a user to "Act As"

[2020-05-15 19:48] adamjohnson opened #259 "Add `aria-current="page"` to active page in all menu tags"
## Steps to reproduce the issue

  1. View any site that has an auto-generated navigation using `r:site_menu`, `r:sub_menu`, `r:ancestor_menu`, `r:breadcrumbs` or anywhere the `active` class is applied to the current page's `<a>` tag.
      * [Code](https://code.wvu.edu) is a good example of this.

## Results

The current output looks like this:

[code]

Note how the first `<a>` tag has `class="ac

[2020-06-03 15:36] nreckart commented on #259
@adamjohnson The active/current page in a breadcrumb list does not have an `<a>`, it's just an `<li>`. Should `aria-current="page'` be applied to the `<li>`?

[2020-06-03 15:53] adamjohnson commented on #259
Looking closely at [the spec](https://www.w3.org/TR/wai-aria-1.1/#aria-current):

So that would lead me to believe we should omit `aria-current` from the breadcrumbs because the final "crumb" (aka the current page) is not a link.

[2020-06-03 16:31] nreckart commented on #259
Changes for auto generated nav menus have been pushed to production. May not see the affect immediately for current sites due to caching, which is a little tricky here. It's not a 10 min cache. It basically caches menus until the site page structure is changed. So you may need to add/remove a page to bust it.

[2020-06-04 17:39] adamjohnson commented on #258
Appears to work. Thanks!

[2020-06-04 17:40] #258 closed, assigned to nreckart

[2020-06-04 17:43] adamjohnson commented on #259
Seems to be working. Thanks!

[2020-06-15 21:15] adamjohnson opened #260 "Pages > Internal Link > View/View in new tab broken"
## Steps to reproduce the issue

  1. Visit [my test site > Pages](https://cleanslate.wvu.edu/sites/5/pages).
  1. CMD + F for "An internal link page" (there is a page named this at the root)
  1. Click "View" or "View in New Tab"

## Results

The resulting URL is this:

https://aj.sandbox.wvu.edu71305/

Obviously, this leads to a 404 page.

## Expected results

The resulting URL should be:

https

[2020-06-15 21:54] adamjohnson commented on #259
Just found an issue with this today: External Link and Internal Link pages are adding a W3C invalid attribute `iscurrent="false"`:

[code]

You can see this at the following URLs:

  * https://aj.sandbox.wvu.edu/backpage-1/subpage1/subpage-level-3/a-target-of-an-internal-link-to-page
  * https://provost.wvu.edu/
  * https://graduateadmissions.wvu.edu/

[2020-06-16 15:28] nreckart commented on #260
Internally linked pages should now be linked to correctly in the admin view.

[2020-06-16 15:29] nreckart commented on #259
Changes deployed. See my note above in a previous comment about caching.

You _may_ be able to update/save site settings without actually changing anything to bust the menus cache, but this technique did not work in dev for me.

[2020-06-16 15:43] #260 closed, assigned to nreckart

[2020-06-17 14:59] adamjohnson commented on #259
Looks like these changes fixed the `iscurrent` stuff. Thanks!

[2020-06-17 14:59] #259 closed, assigned to nreckart

[2020-12-15 17:03] adamjohnson opened #261 "JavaScript, ES6, Uglifier gem, Terser and transpilation"
## Background

CleanSlate currently uses the [Uglifier gem](https://github.com/lautis/uglifier/) to concatenate and minify JavaScript. Out of the box, this gem does not work with (or transpile) [ES6](https://www.quora.com/What-is-ES6?share=1). If it finds ES6 in a JavaScript source file, it errors out and the whole file will not load.

ES6 is becoming more and more prevalent these days. IE11 is th

[2020-12-15 17:06] adamjohnson commented on #261
In case anyone comes across this issue looking for Gulp + Babel + CleanSlate + ES6 transpilation, I created a project using these tools for the Refresh website in August 2020: [ur-student-activity-series](https://bitbucket.org/wvudigital/ur-student-activity-series/src/master/) on Bitbucket.

[2021-05-05 17:49] zeroedin opened #262 "Ability to search for assets via Asset ID"
Feature request:

Ability to use the asset id to search for assets in Cleanslates file manager.

I can access an asset id by viewing the page source via the `data-asset-id`.  It would be nice to be able to use that in the search results for assets.  Most often or not the file is not named the same as how it is linked.  Digging through all assets is time consuming more then it needs to be.

Example

[2021-05-05 18:23] adamjohnson commented on #262
![Screenshot of Files showing how to hover over an image preview to get the asset ID](https://user-images.githubusercontent.com/575865/117190342-4bf18900-adad-11eb-8e06-9fccb8396b3b.png)

For reference, you can get the asset ID by hovering over the small preview thumbnail. But yes, incorporating this into search results would be helpful. 👍

[2021-05-07 18:27] adamjohnson commented on #261
Update: we're playing with Terser (via the Terser gem) in Staging to see if it'll work for our needs. See relevant commit: https://github.com/wvuweb/cleanslate/commit/f215d51d096fe5f366d3798e3f01ae37d2211088.

The JavaScript that ships with Bootstrap v5 is all ES6, so trying to get ahead of this when we move in that direction.

I should note that if you set `compress` and `mangle` to `false` in [`

[2021-05-25 21:27] adamjohnson commented on #261
Another update (via [Slack](https://wvu-ur-web.slack.com/archives/C02UQS8QR/p1621961160000400)):

As promised, I did a test of Terser with ES6 on Staging (http://refresh.volutus.wvu.edu/). From my limited test, it seems to be working--meaning, CleanSlate is serving ES6 (arrow functions `=>`, template literals, rest operators, `let`, `const`). You can see it in this file:

http://refresh.volutus.wv

[2021-05-26 15:10] nreckart commented on #261
Sounds good to me. WIthout any objections, I'll deploy Terser to production later today.

[2021-05-26 22:41] adamjohnson commented on #261
Terser has now been deployed to production. So far, so good.

I updated [the docs](https://cleanslatecms.wvu.edu/how-to/theme-development/tag-index/r-include-javascript#es6-notes) to note we now support ES6+. There is a pull request (wvuweb/cleanslate#96) under review to add `module`/`nomodule` support.

After a few days, if we don't see any errors/anything funky, we can close this issue.

[2021-08-16 21:34] adamjohnson commented on #261
Everything seems fine here. I'm going to close this issue. Really stoked on this one! 🎉

[2021-08-16 21:34] #261 closed, assigned to nobody

[2021-08-16 21:52] adamjohnson opened #263 "Generate XML Sitemaps for every site in CleanSlate"
## Background

Having a sitemap (an XML file containing a list of URLs on your site) helps search engines understand your website structure. It specifies a location for every page, which prevents search engine crawlers from missing pages or traveling down too many links to access content. A comprehensive sitemap will help search engines index your site more efficiently. It also adds a few missing

[2021-09-15 16:50] adamjohnson commented on #249
We're going to have to revisit this issue.

**Background and Demo:** [Visible labels are included in accessible names](https://codepen.io/adamjohnson/pen/ZEKGXJJ?editors=1100).

Assistive technology recently (with the rollout of WCAG 2.1?) decided that passing one `id` to `aria-labelledby` would make the element only read the value of what's in the element referenced by `aria-labelledby`. So, to f

[2021-09-26 18:56] nreckart commented on #263
Working on this. Have some questions.

Should blog articles be included in the Sitemap?
For most sites it probably wouldn't hurt to include them, but E-News has more than 14000 articles.

Is order of the links within the Sitemap important?
If order is NOT important, then including all 14000+ articles for E-News won't be as big of a deal since I can optimize things more.

[2021-09-27 01:48] nreckart commented on #243
I think the main point of this issue, sorting page results, has been addressed.

[2021-09-27 01:48] #243 closed, assigned to nreckart

[2021-09-27 15:52] adamjohnson commented on #263
1. Blog articles should be included in a sitemap.
  2. Order is [not important](https://stackoverflow.com/a/1276487/908059).

🍻

[2021-09-28 19:58] nreckart commented on #263
Here's how I've set this up. Only in staging at this point.

* Content pages, blog Indexes, and blog article pages are all included
* Order is left up to Rails (specifically find_each) for the most efficient performance
* All published pages are included, including descendants of a non-published page
* Pages with the "Exclude from search engines" setting checked are EXCLUDED
* The Sitemap can be e

[2021-09-28 20:42] adamjohnson commented on #263
I checked out eNews's Sitemap on Staging. What other sites on Staging have it? I tried to hit a few others without success.

[2021-09-28 20:58] nreckart commented on #263
https://statler.volutus.wvu.edu/sitemap.xml
https://wvutoday.volutus.wvu.edu/sitemap.xml
https://diyoutdoors.volutus.wvu.edu/sitemap.xml

[2021-09-28 21:21] adamjohnson opened #264 "Don't output empty `<ul>`'s for `sub_menu` and `ancestor_menu` when they return zero pages"
## Steps to reproduce the issue

You can see this on [this test page](https://aj.sandbox.wvu.edu/new-page-jan-2019) in the sidebar. Here's the code in that Radius snippet:

[code]

## Results

`r:sub_menu` and `r:ancestor_menu` output empty `<ul>`'s when no pages are returned. Here's the markup from the test page above:

[code]

## Expected results

If a `sub_menu` or `ancestor_menu` is called and

[2021-09-30 19:06] bokster opened #265 "Show and hide slots"
Currently, when a client wants to hide information (to use again later) in a slot, you do it by going to the said slot and leave the option blank in the dropdown. But this is not an obvious action.

A way to signify show/hide (checkbox?) would be welcomed.

<img width="785" alt="Screen Shot 2021-09-30 at 2 59 32 PM" src="https://user-images.githubusercontent.com/289061/135515634-5225863f-1f15-4650

[2021-09-30 19:49] adamjohnson commented on #265
This issue is probably better suited for the [Design System repo](https://github.com/wvuweb/wvu-design-system/issues) since it relates directly to a specific theme / theme functionality. Kindly open this issue there.

[2021-09-30 19:49] #265 closed, assigned to nobody

[2021-10-01 19:38] adamjohnson commented on #263
Checked a bunch of sitemaps for various cases. Everything looks good! Great work Nathan. Close this when it's deployed.

[2021-10-01 19:41] adamjohnson commented on #264
Looks great, thanks!

[2021-10-06 14:24] #106 closed

[2021-10-06 14:30] nreckart commented on #100
Implemented in wvuweb/cleanslate@aaeaff27c627f84c7855a8334e9d7c12871b5fe0

[2021-10-06 14:31] #264 closed, assigned to nreckart

[2021-10-07 14:12] #254 closed, assigned to nobody

[2021-10-07 14:12] #253 closed, assigned to nreckart

[2021-10-20 23:29] bokster opened #266 "404 Not Found template for attachments"
Currently, when a user clicked on a PDF that's no longer on a website, the resulting page looks like this [https://adventurerecreation.wvu.edu/files/d/f0%20add/qrg1-view-a-green-sheet.pdf](url)

Is there a way to make it look like the 404 Not Found page?

[2021-10-27 14:16] nreckart commented on #266
Missing file requests should now be redirected to the site's custom 404 page, if one exists.

[2021-10-27 14:16] #266 closed, assigned to nreckart

[2021-10-27 14:17] nreckart commented on #262
The ability to search for an asset by ID has been implemented.

[2021-10-27 14:17] #262 closed, assigned to zeroedin

[2021-10-27 14:26] nreckart commented on #242
This doesn't appear to be an issue anymore. It may have gotten fixed along with the move to Lambda for image processing.

[2021-10-27 14:26] #242 closed, assigned to nreckart

[2021-11-03 21:08] adamjohnson commented on #263
Getting 400 errors for sitemaps in production:

https://wvwri.wvu.edu/sitemap.xml
https://academicintegrity.wvu.edu/sitemap.xml
https://studentlife.wvu.edu/sitemap.xml

Can you confirm these changes have been deployed? If so, any idea why this might be happening?

[2021-11-04 00:33] nreckart commented on #263
It hasn't been enabled for all sites, yet. I know @dmolsen doesn't want it enabled for admissions. There are probably others. More discussion needs to occur before mass enabling.

@adamjohnson For now, you, or anyone with access to site settings, can enable it via the site settings form on a per site basis as needed.

[2021-11-04 16:02] adamjohnson commented on #263
Can this be checked by default for when someone creates a new site?

Also, I'm thinking we should put out a message in #proftechchat about this. I'm sure people would like this.

[2021-12-02 15:53] dmolsen opened #267 "Addressing CLS: Force Height to CleanSlate Generated Img Tags"
## Background

Google is pushing UX/web performance as a signal for search results. The initiative is called [Web Vitals](https://web.dev/vitals/). There are three key measurements. The one that will be helped by addressing this issue is [Cumulative Layout Shift](https://web.dev/cls/). The basic premise is that we want to avoid the layout of a page shifting as elements load.

A good example is rea

[2021-12-03 15:44] nreckart commented on #267
`data-asset-version` is set when a user inserts an image into the editor via the "Insert Media" Mercury modal. It defaults to the width of the region the image is being inserted into and it maintains the aspect ratio, setting the height accordingly. The user can manually edit the width and height values and disable aspect ratio adherence, if they want. It is used by the system to automagically sca

[2022-01-03 16:05] #249 closed, assigned to nreckart

[2022-01-06 15:11] nreckart commented on #267
Added the `width` and `height` attributes to `<img>` tags that are inserted via the editor. May not help all that much since people tend to use images elsewhere, such as for thumbnails, and don't include the `data-asset-version` attribute. They also tend to use 1200x800 images for thumbnails.

It's available now on volutus if you want to take a look.

[2022-01-06 16:23] nreckart commented on #216
@adamjohnson Is this still relevant?

[2022-01-06 16:23] nreckart commented on #219
@dmolsen Is this still relevant?

[2022-01-06 18:24] dmolsen commented on #219
Yes and no.

I don't think this needs to be explicit as a tag anymore. We've only added a few sites to GTM in _checks ticket date_ 5+ years. The only thing I've noticed from those few people we have manually done it for, are complaints about the GA warning banner. Since a site is live and doesn't have GA added it gets a yellow banner in the CleanSlate Admin. A checkbox on the site possibly? Just t

[2022-01-06 20:55] nreckart opened #268 "Add the ability to permanently hide the "No Google Analytics" warning message for individual sites"
If a site is "Live" and does NOT have a Google Analytics code set in site settings, a warning message is displayed in the site admin. Currently, this message states:

Live sites must have a Google Analytics code assigned so that site statictics can be accurately tracked.

There are times when a site may not want to use Google Analytics, such as if they are using Google Tag Manager. In cases such a

[2022-01-07 17:49] adamjohnson commented on #216
Indeed, it looks like CleanSlate prepends `https://` onto URLs that have been created via Pages > Create Page > External Link. For example, if you put `how-to/theme-development/blog-templates#blog-post-migration` in the "Web Address" field in the External Link modal, CleanSlate outputs `https://how-to/theme-development/blog-templates#blog-post-migration` as the href value for the link.

I don't th

[2022-01-07 17:49] #216 closed, assigned to nobody

[2022-01-10 21:05] nreckart opened #269 "Migrate Radius XML support to Liquid"
The existing functionality that exists within Radius to consume and transform XML data needs to be implemented within Liquid.

Radius tags:
* xml:parse
* xml:select
* xml:escape
* xslt_transform

[2022-01-12 18:27] nreckart commented on #267
Think this is good to go for production?

[2022-01-12 18:28] dmolsen commented on #267
Nope. I still need to talk to Adam about the Bootstrap thing. I need to write up the issue and... I've been writing a bunch of other crap ;)

[2022-01-14 16:04] dmolsen commented on #267
Fun times. As @nreckart noted, the solution he built isn't going to work for all the things but it's a start. The current solution on Volutus appears to mess up image dimensions. See example below:

![Screen Shot 2022-01-14 at 10 58 51 AM](https://user-images.githubusercontent.com/2746/149546356-e915b0f2-0917-402c-b0fc-e852bd301c04.png)

And what it should look like:

![Screen Shot 2022-01-14 at 1

[2022-01-14 21:59] adamjohnson commented on #267
A few things:

Automatically adding an inline style to all images with `data-asset-version` image attributes feels a bit hacky to me.

I was hoping the [CSS `attr()` property](https://caniuse.com/css3-attr) had adequate browser support; alas, support is non-existent at this time. If support for that was better, we could avoid the inline style.

What do you think about making this feature opt in? I

[2022-01-18 15:46] dmolsen commented on #267
@adamjohnson -

I don't think I was quite clear enough in my response. Explicit height and width on images screws up responsive image layouts in Bootstrap 4. That's the first example above. Nathan had implemented that. Doing the "hack" of inlining the aspect ratio avoids the Bootstrap bug but holds the space for CLS issues.

I personally don't see this as a temporary fix. I don't understand why ba

[2022-01-18 19:46] adamjohnson commented on #267
Yes, I would consider adding `width`, `height`, and inline `aspect-ratio` style attributes all part of that "opt in" checkbox. My apologies, I should have been clearer about that.

**Thinking more about Safari 14.x:** If someone visits a WVU site with this enabled, images are going to look stretched/bad due to the `width` and `height` attributes on the `<img>` tag & lack of `aspect-ratio` support.

[2022-01-18 20:17] dmolsen commented on #267
Philosophical issue then... if Google recommends this for SEO (fire up Lighthouse) then is this something we should really opt everyone out of and only let people opt into? It _shouldn't_ be a breaking change since it's literally the file they already uploaded.

My "fixed" proposal is only doing the `aspect-ratio` hack and leave off the `width` and `height`. Having `width` and `height` defined is

[2022-01-18 20:53] dmolsen opened #270 "Sitemap Update: Remove /[default-path] and Replace with /"
Statwax wants us to modify our sitemap feature. Currently, this is how the default page for online.wvu.edu is represented in the sitemap:

[code]

They would like it to be:

[code]

I think looking at the default page for a site and just making it the base URL in the settings is a good enough change.

[2022-01-18 21:24] adamjohnson commented on #267
1. Adding the `aspect-ratio` inline style and no `width` and `height` attributes sounds like a great idea.
  1. I'd be fine checking the "opt in" checkbox by default when rolling this out (people get auto-opted in).
     * Might want to do that for the Sitemap feature while we're at it.

[2022-01-18 21:35] adamjohnson commented on #270
Related to #263.

[2022-01-31 19:04] nreckart commented on #270
@dmolsen Does it hurt to have items for both URLs in there? So  https://online.wvu.edu/ and https://online.wvu.edu/home.  Or should it ONLY be the root?

[2022-01-31 19:05] dmolsen commented on #270
Only the root.

[2022-01-31 20:14] #270 closed, assigned to nobody

[2022-01-31 20:58] #268 closed, assigned to nreckart

[2022-02-03 22:21] rebecca-patton opened #271 "Page Paths deleted when a page is unpublished"
## Steps to reproduce the issue

  1. Log in to CleanSlate and open any site.
  1. Create a new page and publish it.
  1. Add a new Page Path under properties and save.
  1. Unpublish the page.

## Results

Saved page paths are no longer present under page properties. Re-publishing the page does not bring them back.

## Expected results

Additional page paths should be saved in page properties reg

[2022-02-05 00:26] #271 closed, assigned to nobody

[2022-02-11 17:37] nreckart opened #272 "Unhandled exception occurs in ThemeAssetPipeline::Javascript::compile when an invalid JS file is specified"
Specifying an invalid JS file path when using `<r:include_javascript>` or `<r:javascript_url>` results in a 500 application error.

Example of issue:
https://taxservices.wvu.edu/javascripts/1580826578/vendor/responsive-nav.js&responsive-nav--custom.js&vendor

It the above case the `&vendor` at the end isn't a valid JS file. It's a directory. Invalid JS file paths should be detected and skipped whe

[2022-02-11 18:30] #272 closed, assigned to nreckart

[2022-03-25 20:47] adamjohnson opened #273 "Serve images in next-gen formats (.webp, .avif)"
## Steps to reproduce the issue

  1. Go to [brownfields.wvu.edu](https://brownfields.wvu.edu/)
  1. Open Developer Tools > Lighthouse
  1. Check "Performance" and "Desktop"
  1. Click "Generate Report"

## Results

In the Lighthouse report, it should list "Serve images in next-gen formats" as a warning.

## Expected results

Here's one of the images it flags in this warning:

https://csassets.sta

[2022-05-03 20:16] dmolsen opened #274 "Add Support for *.wvu.edu Google Tag Manager Container"
## Background

CleanSlate CMS currently supports a *.wvu.edu Google Analytics (GA) account. This tracks all traffic to public pages in CleanSlate. We have added the GA account to www.wvu.edu to make analytics more comprehensive.

I would like to replace the GA code with a similar *.wvu.edu Google Tag Manager (GTM) account that contains the *.wvu.edu GA account, a *.wvu.edu GA4 account and upgraded

[2022-05-03 20:17] dmolsen commented on #219
This has been replaced by #274.

[2022-05-03 20:17] #219 closed, assigned to nobody

[2022-05-06 02:15] #274 closed, assigned to nreckart

[2022-05-06 02:36] nreckart commented on #274
This has been deployed to production.

I put the GTM code in the ENV config for CS. Seemed appropriate and allows it to be changed without needing to deploy the app. Also makes it easier to test.

I assume things are working as they should. Nothing has blown up on the CS side, that I'm aware of.

@dmolsen let me know what you see in the AM. Reopen this issue if needed.

[2022-05-06 14:08] dmolsen commented on #274
@nreckart -

This is working. I had a bug with my tags but, two hours later, it's all fixed and running.

[2022-09-23 17:11] adamjohnson opened #275 "CleanSlate won't serve Bootstrap v5.2+ CSS (sass-rails gem update?)"
## Steps to reproduce the issue

There are two ways to reproduce this. 1) Use one of Bootstrap's [starters projects](https://github.com/twbs/examples/tree/main/sass-js) to just get going on a vanilla Bootstrap v5.2 project OR use a branch on the WVU Design System v2. The instructions below are for the [WVU Design System v2](https://github.com/wvuweb/wvu-design-system-v2) theme on Github.

  1. I c

[2022-10-06 21:27] adamjohnson opened #276 "Allow users to use WebP and AVIF images in Files"
## Steps to reproduce the issue

  1. To [Files](https://cleanslate.wvu.edu/sites/5/uploads) of aj.sandbox.wvu.edu
  1. Note the last two images uploaded are an `.avif` and `.webp` image.
     * Their names are: `brownfields-home-hero-dscn-3696-1780x1780` if they get buried.
  1. Go to any page in Pages and hit Edit in new tab
  1. Click an editable region and try to insert either the `.webp` imag

[2022-10-13 20:11] nreckart commented on #276
Enabling WebP was as simple as registering the .webp extension as a valid image format within CleanSlate.

Not so simple with AVIF. Turns out that the version of the library used to process the images (ImageMagick) doesn't seem to fully support AVIF. I attempted to custom compile the newest version of ImageMagick in my dev environment, but it turns out that's not so trivial and I was still not abl

[2022-10-13 20:30] adamjohnson commented on #276
I can confirm WebP does work in Files in production right now. Thanks! I will close this issue and we can revisit AVIF later when it's supported across more browsers (Edge and Safari lacking as of this date).

Fun fact, I just replaced a transparent PNG at 735KB with a WebP image at 129KB. Big difference!

[2022-10-13 20:30] #276 closed, assigned to nreckart